<form>
    {#<div class="form-group">#}

    <div class="well well-sm text-center">

        <h3>Pasirinkite <strong>Secret box</strong> dydį</h3>

        <div class="btn-group " data-toggle="buttons" >

            <label class="btn btn-default order-btn wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                <input type="radio" name="secretboxSize" id="small-box" value="0" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="order-title">Mažas</span>
                <span class="order-price">19.99 €</span>
            </label>

            <label class="btn btn-default order-btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                <input type="radio" name="secretboxSize" id="medium-box" value="1" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="order-title">Vidutinis</span>
                <span class="order-price">29.99 €</span>
            </label>

            <label class="btn btn-default order-btn wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">
                <input type="radio" name="secretboxSize" id="big-box" value="2" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="order-title">Didelis</span>
                <span class="order-price">49.99 €</span>
            </label>
        </div>
    </div>

    <div class="well well-sm text-center order-contact" id="order-contact">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h3>Patikrinkite savo kontaktinius duomenis</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group float-label-control">
                        <label for="firstName">Vardas</label>
                        <input type="text" name="firstName" value="{{ app.user.firstName }}" class="form-control" placeholder="Vardas">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group float-label-control">
                        <label for="lastName">Pavardė</label>
                        <input type="text" name="lastName" value="{{ app.user.lastName }}" class="form-control" placeholder="Pavardė">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="form-group float-label-control">
                        <label for="email">El. paštas</label>
                        <input type="email" name="email" value="{{ app.user.email }}" class="form-control" placeholder="El. paštas">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group float-label-control">
                        <label for="phoneNo">Telefonas</label>
                        <input type="text" name="phoneNo" value="" class="form-control" placeholder="Telefono numeris">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a id="btn-delivery-address" class="btn btn-lg btn-success" style="width: 300px;">
                        <span class="fa fa-address-book-o"></span> Pristatymo adresas
                    </a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-12 text-center" style="padding: 30px;">
                    <a id="btn-facebook-login" href="{{ path('app.order.now') ~ '?content=begin-adventure' }}" class="btn btn-lg btn-social btn-facebook" style="width: 300px;">
                        <span class="fa fa-facebook"></span>
                        <span id="login-text">Prisijungti su Facebook</span>

                    </a>
                </div>
            </div>

        {% endif %}
    </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="well well-sm text-center order-address" id="order-address">
            <h3>Pasirinkite pristatymo būdą</h3>
            <div class="btn-group" data-toggle="buttons" >

                <label class="btn btn-default delivery-btn" id="btn-delivery-home">
                    <input type="radio" name="deliveryType" value="0" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="order-title">Kurjeriu į namus</span>
                    {#<span class="order-price">19.99 €</span>#}
                </label>

                <label class="btn btn-default delivery-btn" id="btn-delivery-parcel">
                    <input type="radio" name="deliveryType" value="1" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span class="order-title">Atsiimsiu paštomate</span>
                    {#<span class="order-price">29.99 €</span>#}
                </label>



        </div>

        <div id="delivery-display">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="well well-sm text-center" id="home-delivery">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label for="address">Namų adresas</label><br>
                            <input type="text" name="address" placeholder="Adresas" value="{{ app.user.address }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="well well-sm text-center" id="parcel-delivery">
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-lg btn-warning" style="width: 300px;">
                                Padėti nustatyti artimiausią

                            </a>
                            </div>

                        <div class="col-sm-6">

                            <label for="parcelMachine">Paštomatų sąrašas</label>
                            <select title="Parcel Machines" style="display: none" class="parcel-select" name="parcelMachine" id="select-parcelMachine" data-placeholder="Pasirinkite paštomatą...">
                                <option></option>
                                {% for parcelMachine in parcelMachines %}
                                    <option value="{{ parcelMachine.address }}">{{ parcelMachine.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="well well-sm text-center ">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <a id="btn-contacts" class="btn btn-lg btn-primary" style="width: 300px;">
                        <span class="fa fa-address-book-o"></span> Grįžti prie kontaktų
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <a id="btn-payment-type" class="btn btn-lg btn-success" style="width: 300px; display: none">
                        <span class="fa fa-money"></span> Apmokėjimo būdas
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="well well-sm text-center payment-type" id="payment-type">
        <h3>Pasirinkite apmokėjimo būdą</h3>
        <div class="btn-group " data-toggle="buttons" >

            <label class="btn btn-default payment-btn">
                <input type="radio" name="paymentType" value="0" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <img src="{{ asset('images/payment/banklink_logo.png') }}">
            </label>

            <label class="btn btn-default payment-btn">
                <input type="radio" name="paymentType" value="1" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <img src="{{ asset('images/payment/paypal_logo.png') }}">
            </label>

            <label class="btn btn-default payment-btn">
                <input type="radio" name="paymentType" value="2" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <img src="{{ asset('images/payment/paysera_logo.png') }}">
            </label>
        </div>


        <div class="well well-sm text-center ">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <a id="btn-back-delivery-address" class="btn btn-lg btn-primary" style="width: 300px;">
                        <span class="fa fa-address-book-o"></span> Grįžti prie pristatymo adreso
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <a href="{{ path('app.order.payment') }}" id="btn-proceed-payment" class="btn btn-lg btn-success" style="width: 300px; display: none;">
                        <span class="fa fa-money"></span> Apmokėti
                        <span id="price-info"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    {% endif %}




    {#</div>#}
</form>

