<form action="{{ path('app.order.new') }}" method="post" id="order-form">
    <!-- secret box selection block -->
    <div class="well well-sm text-center">
        <h3>{{ 'order.choose.box'|trans|raw }}</h3>

        <div class="btn-group " data-toggle="buttons" >
            {% set fadeEffect = ['fadeInLeft', 'fadeInUp', 'fadeInRight'] %}
            {% set number = 0 %}
            {% for price in prices %}

            <label class="btn btn-default order-btn wow {{ fadeEffect[number] }}" data-wow-duration="2s" data-wow-delay="0.5s">
                <input type="radio" name="secretBoxSize" id="box-{{ price.box_size }}" value="{{ price.box_size }}" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="order-title">{{ price.box_size|trans|capitalize }}</span>
                <span class="order-price">{{ price.price }}</span>
            </label>

                {% set number = number + 1 %}
            {% endfor %}

        </div>

        {% if errors %}
        <div class="order-errors row">
            <div class="col-lg-6 col-lg-offset-3 text-left">
                <h4 style="color: red;">Įvyko užsakymo klaida, patikrinkite:</h4>
            </div>

            <div class="col-lg-6 col-lg-offset-3 text-left">
                <ol>
                    {% for error in errors %}
                        <li>{{ error|raw }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endif %}

    </div><!-- end block -->


    <!-- contact info block -->
    <div class="well well-sm text-center order-contact" id="order-contact">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h3>{{ 'order.check.contacts'|trans }}</h3>

            <div class="form-section-1">
                <div class="row">
                    <div class="col-md-3 text-left">
                        <div class="has-float-label">
                            <input type="text" class="order-text-input" id="firstName" name="firstName" value="{{ user.firstName }}" placeholder="{{ 'user.name'|trans }}" required>
                            <span>{{ 'user.name'|trans }}</span>
                        </div>
                    </div>
                    <div class="col-md-3 text-left">
                        <div class="has-float-label">
                            <input type="text" class="order-text-input" name="lastName" value="{{ user.lastName }}" placeholder="{{ 'user.surname'|trans }}" required>
                            <span>{{ 'user.surname'|trans }}</span>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-6 text-left">
                        <div class="has-float-label">
                            <input type="email" class="order-text-input" name="email" value="{{ user.email }}" placeholder="{{ 'user.email'|trans }}" required>
                            <span>{{ 'user.email'|trans }}</span>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-3 text-left">
                        <div class="has-float-label">
                            <input type="text" class="order-text-input" name="phoneNo" value="" placeholder="{{ 'user.phone'|trans }}" data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$" data-parsley-minlength="9">
                            <span>{{ 'user.phone'|trans }}</span>
                        </div>
                    </div>
                </div>
            </div>



            <!-- button to address block -->
            <div class="well well-sm text-center " style="margin-top: 50px">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6 text-left">
                        <a id="btn-delivery-address" class="btn btn-lg btn-gfort" style="width: 300px;" >
                            <span class="fa fa-address-book-o"></span> {{ 'order.delivery.address'|trans }}
                        </a>
                    </div>
                </div>
            </div><!-- end button -->





        {% else %}

            <!-- facebook login button -->
            <div class="row">
                <div class="col-sm-12 text-center" style="padding: 30px;">
                    <a href="{{ path('app.order.now') ~ '?content=section-begin-adventure' }}" class="btn btn-lg btn-social btn-facebook btn-facebook-login" style="width: 300px;">
                        <span class="fa fa-facebook"></span>
                        <span class="login-text">{{ 'user.login.with.facebook'|trans }}</span>

                    </a>
                </div>
            </div><!-- end button -->

        {% endif %}
    </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <!-- order address block -->
    <div class="well well-sm text-center order-address" id="order-address">
        <h3>{{ 'order.choose.delivery.type'|trans }}</h3>

        <!-- delivery selection -->
        <div class="btn-group" data-toggle="buttons" >

            <label class="btn btn-default delivery-btn" id="btn-delivery-home">
                <input type="radio" name="deliveryType" value="home" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="order-title">{{ 'order.delivery.home'|trans }}</span>
            </label>

            <label class="btn btn-default delivery-btn" id="btn-delivery-parcel">
                <input type="radio" name="deliveryType" value="parcel_machine" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <span class="order-title">{{ 'order.delivery.parcel'|trans }}</span>
            </label>
        </div><!-- end selection -->

        <!-- delivery info -->
        <div id="delivery-display">

            <!-- home delivery -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="well well-sm text-center" id="home-delivery">

                        <div class="col-sm-8 col-sm-offset-2 text-left">
                            <div class="has-float-label ">
                                <input type="text" class="order-text-input" name="address" id="home-address" placeholder="{{ 'user.home.address'|trans }}" value="{{ user.address }}">
                                <span>{{ 'user.home.address'|trans }}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- end home delivery -->
            <!-- parcel machine delivery -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="well well-sm text-center" id="parcel-delivery">
                        <div class="col-sm-6 text-right">
                            <a class="btn btn-gfort-grey mb-30" id="btn-detect-parcel" style="width: auto;">
                                {{ 'order.find.nearest.parcel'|trans }}
                            </a>
                            <div class="parcel-loading" id="parcel-loading">
                                <div>
                                    <img id="parcel-loading-img" src="{{ asset('images/loading.gif') }}" alt="O">
                                </div>
                                <div class="parcel-loading-text"></div>

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label class="label-hidden" id="label-parcel-select" for="parcelMachine">
                                    {{ 'order.choose.correct.parcel'|trans }}
                                </label>
                                <select title="{{ 'content.parcel'|trans }}" class="parcel-select" name="parcelMachine" id="select-parcelMachine" data-placeholder="{{ 'order.choose.parcel'|trans }}..." style="font-size: 19px; z-index: 2;">
                                    <option></option>
                                    {% for parcelMachine in parcelMachines %}
                                        <option value="{{ parcelMachine.address }}">{{ parcelMachine.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end parcel machine delivery -->
        </div><!-- end delivery info -->

        <!-- navigation buttons -->
        <div class="well well-sm text-center ">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <a id="btn-contacts" class="btn btn-lg btn-gfort-alt" style="width: 300px;">
                        <span class="fa fa-address-book-o"></span> {{ 'order.return.to.contacts'|trans }}
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <a id="btn-payment-type" class="btn btn-lg btn-gfort" style="width: 300px; display: none; z-index: 2;">
                        <span class="fa fa-money"></span> {{ 'order.payment.type'|trans }}
                    </a>
                </div>
            </div>
        </div><!-- end navigation buttons -->
    </div><!-- end order address block -->

    <!-- payment type block -->
    <div class="well well-sm text-center payment-type" id="payment-type">
        <h3>{{ 'order.choose.payment.type'|trans }}</h3>

        <!-- payment selection buttons -->
        <div class="btn-group " data-toggle="buttons" >
            <label class="btn btn-default payment-btn">
                <input type="radio" name="paymentType" value="0" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <img src="{{ asset('images/payment/banklink_logo.png') }}">
            </label>

            <label class="btn btn-default payment-btn">
                <input type="radio" name="paymentType" value="1" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <img src="{{ asset('images/payment/paypal_logo.png') }}">
            </label>

            <label class="btn btn-default payment-btn">
                <input type="radio" name="paymentType" value="2" autocomplete="off">
                <span class="glyphicon glyphicon-ok"></span>
                <img src="{{ asset('images/payment/paysera_logo.png') }}">
            </label>
        </div><!-- end payment selection buttons -->

        <!-- navigation buttons -->
        <div class="well well-sm text-center ">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <a id="btn-back-delivery-address" class="btn btn-lg btn-gfort-alt" style="width: 300px;">
                        <span class="fa fa-address-book-o"></span> {{ 'order.return.to.delivery.address'|trans }}
                    </a>
                </div>
                <div class="col-sm-6 text-center">
                    <a data-scrol id="btn-proceed-payment" class="btn btn-lg btn-gfort" style="width: 300px; display: none;">
                        <span class="fa fa-money"></span> {{ 'order.pay'|trans }}
                        <span id="price-info"></span>
                    </a>
                </div>
            </div>
        </div><!-- end navigation buttons -->

    </div><!-- end payment type block -->

    {% endif %}
</form>

