{% extends "::base.html.twig" %}

{% block title %}
    Pradžia - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-body">

        <div class="main-content">
            <div class="main-content-container">

                <!-- homepage section -->
                <div id="section-main" class="gfort-section parallax-section" style="background-image: url({{ asset('images/parallax/1.jpg') }});transition: background 1s linear; padding-top: 35vh; padding-bottom: 70px">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-5">
                                    <!-- GAP 100px -->
                                    <div class="gap gap-100 hidden-sm hidden-xs"></div>
                                    <div class="section-title intro-section-title light-color text-center">
                                        <h2 class="section-main-title border-text">TAVO ATRADIMAI PRASIDEDA SU <br>SECRET BOX</h2>
                                        <p class="section-subtitle"></p>
                                    </div>
                                    <!-- GAP 30px -->
                                    <div class="gap gap-30"></div>
                                </div>
                                <div class="col-lg-6 col-md-7">
                                    <div class="gfort-block text-block gfort-block-style-1" >
                                        <div class="gfort-block-container" style="background-color: rgba(227,227,227,0.6)">
                                            <div class="gfort-block-body">
                                                <div class="gfort-block-content">
                                                    <h4>
                                                        <span class="accent">Ar</span> tikrai viską <span class="accent">
                                                            paragavai</span>, <span class="accent">įsigijai</span> ir
                                                        <span class="accent">aplankei</span> geriausio?
                                                    </h4>
                                                    <h4>
                                                        Ar tikrai kur leidi laiką su draugais yra šauniausia
                                                        vieta ir pramoga?
                                                    </h4>
                                                    <h4>
                                                        Mes sakome – tikrai dar ne – ir <span class="accent">siūlome</span>
                                                        leistis į <span class="accent">žaismingą atradimų kelionę</span>,
                                                        kurios pabaigoje – dovana, kuri verta tavo įdėtų pastangų,
                                                        smalsumo ir išradingumo.
                                                    </h4>
                                                    <div class="section-button">
                                                        <a href="#begin-adventure" class="btn btn-gfort-o" data-scroll>
                                                            {{ 'product.order'|trans }}
                                                        </a>
                                                        <a href="#section-about" class="btn btn-gfort-o" data-scroll>Daugiau</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- about section -->
                <div class="gfort-section" id="section-about">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h2 class="section-main-title">APIE</h2>
                                        <p class="section-subtitle">
                                            “Secret box” projekto tikslas - daugiau spontaniškumo ir atradimų džiaugsmo
                                            Tau ir Tavo draugams. Kas slepiasi projekte „Secret box“? – tai mūsų kartu
                                            su partneriais parengta užuomina dėžutėje, kurią užsisakysi sau ar kitam
                                            asmeniui kaip dovaną. Užuomina, esanti dėžutėje, tau pagelbės ieškant ir
                                            atrandant galutinio tikslo – dovanos, kuri gali būti bet kas: nuo
                                            degustacijos ar vakarienės, nuo ekskliuzyvinio brando aksesuarų ar drabužių,
                                            nuo praktiškos paslaugos ar įspūdingo renginio. Visada garantuojame
                                            netikėtumą – nes tik atėjęs į vietą pagal turimą užuominą ir pasakęs kodinį
                                            žodį, sužinosi, ką iš tikrųjų tau paslėpėme „Secret box“ viduje.
                                        </p>
                                        <div class="hr-divider hr-divider-style-1"></div>
                                    </div>
                                </div>

                                <!-- 4 about blocks section -->
                                <div class="col-md-12">
                                    <!-- GAP 30px -->
                                    <div class="gap gap-30"></div>
                                </div>

                                <!-- 1st about block -->
                                <div class="col-md-3">
                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                                        <div class="gfort-block-container">
                                            <div class="gfort-block-head">
                                                <i class="fa fa-check-square-o "></i>
                                                <i class="fa fa-check-square-o "></i>
                                            </div>
                                            <div class="gfort-block-body">
                                                <div class="gfort-block-title">
                                                    <h4>Registracija ir užsakymas</h4>
                                                </div>
                                                <div class="gfort-block-content">
                                                    <p>
                                                        Prisijunk su savo Facebook paskyra, pasirink vieną iš trijų
                                                        „Secret box“ verčių, pasirink pristatymo adresą ir įvykdyk mokėjimą.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 2nd about block -->
                                <div class="col-md-3">
                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                                        <div class="gfort-block-container">
                                            <div class="gfort-block-head">
                                                <i class="fa fa-gift"></i>
                                                <i class="fa fa-gift"></i>
                                            </div>
                                            <div class="gfort-block-body">
                                                <div class="gfort-block-title">
                                                    <h4>Tavo "Secret box"</h4>
                                                </div>
                                                <div class="gfort-block-content">
                                                    <p>
                                                        Gauk „Secret box“ pasirinktu adresu ir radęs viduje užuominą,
                                                        pradėk savo atradimų nuotykį, kuris atves Tave į netikėtą vietą
                                                        – paragauti, pakeisti įvaizdį, aplankyti. Tik paskutinę akimirką
                                                        sužinosi „kas ir kur tai?“.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 3rd about block -->
                                <div class="col-md-3">
                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                                        <div class="gfort-block-container">
                                            <div class="gfort-block-head">
                                                <i class="fa fa-binoculars"></i>
                                                <i class="fa fa-binoculars"></i>
                                            </div>
                                            <div class="gfort-block-body">
                                                <div class="gfort-block-title">
                                                    <h4>Tavo paskyra</h4>
                                                </div>
                                                <div class="gfort-block-content">
                                                    <p>
                                                        Savo paskyroje gali matyti konkrečios „Secret box“ statusą,
                                                        likusį laiką atskleisti paslapčiai ir draugų, kuriems dovanojai
                                                        „Secret box“ progresą iki paslapties atskleidimo.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- col-md-4 -->
                                <div class="col-md-3">
                                    <!-- Icon Block -->
                                    <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                                        <!-- gfort Block Container -->
                                        <div class="gfort-block-container">


                                            <!-- gfort Block Head -->
                                            <div class="gfort-block-head">
                                                <i class="fa fa-commenting-o"></i>
                                                <i class="fa fa-commenting-o"></i>
                                            </div><!-- /End gfort Block Head -->


                                            <!-- gfort Block Body -->
                                            <div class="gfort-block-body">


                                                <!-- gfort Block Title -->
                                                <div class="gfort-block-title">
                                                    <h4>Dalinkis įspūdžiais</h4>
                                                </div><!-- /End gfort Block Title -->


                                                <!-- gfort Block Content -->
                                                <div class="gfort-block-content">

                                                    <p>
                                                        Mums ir visiems, dalyvaujantiems „Secret box“ atradimuose, svarbūs Tavo atradimų akimirkos ir atsiliepimai – dalinkis džaugsmo akimirkų nuotraukomis ir komentuok, patark, siūlyk.
                                                    </p>

                                                </div><!-- /End gfort Block Content -->


                                            </div><!-- /End gfort Block Body -->


                                        </div><!-- /End gfort Block Container -->
                                    </div><!-- /End Icon Block -->
                                </div><!-- /End col-md-4 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->




                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                                        <i class="fa fa-signal"></i>
                                    </div>
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <div class="gfort-section">

                    <div class="section-container">
{#todo duomenis is DB#}
                        <div class="container">

                            <div class="row">

                                <div class="col-sm-4 col-xs-6">

                                    <div class="counter-block">
                                        <span class="number-block" data-to="214" data-speed="5000" data-refresh-interval="7">214</span>
                                        <p><i class="fa fa-diamond"></i> Vykstančių nuotykių</p>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-xs-6">

                                    <div class="counter-block">
                                        <span class="number-block" data-to="170" data-speed="5000" data-refresh-interval="5" style="color: #16a085;">170</span>
                                        <p><i class="fa fa-thumbs-up"></i> Klientų</p>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-xs-6">

                                    <div class="counter-block">
                                        <span class="number-block" data-to="88" data-speed="5000" data-refresh-interval="4" style="color: #e74c3c;">88</span>
                                        <p><i class="fa fa-gift"></i> Laimėjimų</p>
                                    </div>
                                </div>

                                {#<div class="col-sm-3 col-xs-6">#}

                                    {#<div class="counter-block">#}
                                        {#<span class="number-block" data-to="11653" data-speed="5000" data-refresh-interval="50" style="color: #8e44ad;">11653</span>#}
                                        {#<p><i class="fa fa-code"></i> Lines of code</p>#}
                                    {#</div>#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                </div>




                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                    {#<div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color mt-0 mb-0"></div>#}
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->



                <!-- gfort Section -->
                <div class="gfort-section pb-0" id="section-begin-adventure">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Section Title -->
                                    <div class="section-title text-center">

                                        <h2 class="section-main-title">PRADĖK SAVO NUOTYKĮ DABAR</h2>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-12 -->
                                <div class="col-md-12" style="padding-bottom: 500px;">
                                    {{ include('@App/Order/order.section.html.twig') }}
                                </div>

                                {#<div class="col-md-12">#}
                                {#<!-- Button Block -->#}
                                {#<div class="gfort-block btn-block text-center">#}
                                {#<!-- gfort Block Container -->#}
                                {#<div class="gfort-block-container">#}


                                {#<!-- gfort Block Body -->#}
                                {#<div class="gfort-block-body">#}


                                {#<!-- gfort Block Content -->#}
                                {#<div class="gfort-block-content">#}

                                {#<a href="#" class="btn-image">#}
                                {#<img src="images/download-buttons/download-buttons-001.jpg" alt="APP Store" />#}
                                {#</a>#}

                                {#<a href="#" class="btn-image">#}
                                {#<img src="images/download-buttons/download-buttons-002.jpg" alt="Play Store" />#}
                                {#</a>#}

                                {#<a href="#" class="btn-image">#}
                                {#<img src="images/download-buttons/download-buttons-003.jpg" alt="Windows Store" />#}
                                {#</a>#}

                                {#</div><!-- /End gfort Block Content -->#}


                                {#</div><!-- /End gfort Block Body -->#}


                                {#</div><!-- /End gfort Block Container -->#}
                                {#</div><!-- /End Button Block -->#}
                                {#</div><!-- /End col-md-12 -->#}


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- GAP 30px -->
                                    <div class="gap gap-30"></div>
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-12 -->
                                {#<div class="col-md-12">#}
                                {#<!-- Image Block -->#}
                                {#<div class="gfort-block image-block gfort-block-style-6 mb-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">#}
                                {#<!-- gfort Block Container -->#}
                                {#<div class="gfort-block-container">#}


                                {#<!-- gfort Block Head -->#}
                                {#<div class="gfort-block-head">#}
                                {#<img src="images/index/app/009.png" alt="Intro Image">#}
                                {#</div><!-- /End gfort Block Head -->#}


                                {#</div><!-- /End gfort Block Container -->#}
                                {#</div><!-- /End Image Block -->#}
                                {#</div><!-- /End col-md-12 -->#}


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                {#<div class="gfort-section">#}
                    {#<!-- Section Container -->#}
                    {#<div class="section-container">#}
                        {#<!-- container -->#}
                        {#<div class="container">#}
                            {#<!-- row -->#}
                            {#<div class="row">#}


                                {#<!-- col-md-6 -->#}
                                {#<div class="col-md-6">#}


                                    {#<!-- Icon Block -->#}
                                    {#<div class="gfort-block icon-block icon-block-main gfort-block-style-1">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Head -->#}
                                            {#<div class="gfort-block-head">#}
                                                {#<i class="fa fa-font-awesome"></i>#}
                                                {#<i class="fa fa-font-awesome"></i>#}
                                            {#</div><!-- /End gfort Block Head -->#}


                                            {#<!-- gfort Block Body -->#}
                                            {#<div class="gfort-block-body">#}


                                                {#<!-- gfort Block Title -->#}
                                                {#<div class="gfort-block-title">#}
                                                    {#<h4>FONT AWESOME ICONS</h4>#}
                                                {#</div><!-- /End gfort Block Title -->#}


                                                {#<!-- gfort Block Content -->#}
                                                {#<div class="gfort-block-content">#}
                                                    {#<p>In neque enim, congue ac mattis sed, ultricies pretium leo. Fusce el, nulla lobortis interdum tincidunt, purus el semper, vitae orci lectus id velit sollicitudin.</p>#}
                                                {#</div><!-- /End gfort Block Content -->#}


                                            {#</div><!-- /End gfort Block Body -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Icon Block -->#}


                                    {#<!-- GAP 10px -->#}
                                    {#<div class="gap gap-10"></div>#}


                                    {#<!-- Icon Block -->#}
                                    {#<div class="gfort-block icon-block icon-block-main gfort-block-style-1">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Head -->#}
                                            {#<div class="gfort-block-head">#}
                                                {#<i class="fa fa-flash"></i>#}
                                                {#<i class="fa fa-flash"></i>#}
                                            {#</div><!-- /End gfort Block Head -->#}


                                            {#<!-- gfort Block Body -->#}
                                            {#<div class="gfort-block-body">#}


                                                {#<!-- gfort Block Title -->#}
                                                {#<div class="gfort-block-title">#}
                                                    {#<h4>FANCYBOX</h4>#}
                                                {#</div><!-- /End gfort Block Title -->#}


                                                {#<!-- gfort Block Content -->#}
                                                {#<div class="gfort-block-content">#}
                                                    {#<p>Mauris ultrices nisl in diam fermentum, id venenatis odio egestas. Sed et odio id libero pulvinar pretium vel at libero. Donec tempor placerat elit, vel lobortis nunc pellentesque in pellentesque sit amet erat.</p>#}
                                                {#</div><!-- /End gfort Block Content -->#}


                                            {#</div><!-- /End gfort Block Body -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Icon Block -->#}


                                    {#<!-- GAP 10px -->#}
                                    {#<div class="gap gap-10"></div>#}


                                    {#<!-- Icon Block -->#}
                                    {#<div class="gfort-block icon-block icon-block-main gfort-block-style-1">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Head -->#}
                                            {#<div class="gfort-block-head">#}
                                                {#<i class="fa fa-filter"></i>#}
                                                {#<i class="fa fa-filter"></i>#}
                                            {#</div><!-- /End gfort Block Head -->#}


                                            {#<!-- gfort Block Body -->#}
                                            {#<div class="gfort-block-body">#}


                                                {#<!-- gfort Block Title -->#}
                                                {#<div class="gfort-block-title">#}
                                                    {#<h4>ISOTOPE FILTER</h4>#}
                                                {#</div><!-- /End gfort Block Title -->#}


                                                {#<!-- gfort Block Content -->#}
                                                {#<div class="gfort-block-content">#}
                                                    {#<p>Etiam porta quam at dictum laoreet. Donec vel sit massa sagittis egestas. Curabitur eget urna tortor. Pellentesque bibendum tortor eu leo mattis, accumsan.</p>#}
                                                {#</div><!-- /End gfort Block Content -->#}


                                            {#</div><!-- /End gfort Block Body -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Icon Block -->#}


                                    {#<!-- GAP 10px -->#}
                                    {#<div class="gap gap-10"></div>#}


                                    {#<!-- Button Block -->#}
                                    {#<div class="gfort-block btn-block">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Body -->#}
                                            {#<div class="gfort-block-body">#}


                                                {#<!-- gfort Block Content -->#}
                                                {#<div class="gfort-block-content">#}

                                                    {#<a href="#" class="btn-image">#}
                                                        {#<img src="images/download-buttons/download-buttons-001.jpg" alt="APP Store" />#}
                                                    {#</a>#}

                                                    {#<a href="#" class="btn-image">#}
                                                        {#<img src="images/download-buttons/download-buttons-002.jpg" alt="Play Store" />#}
                                                    {#</a>#}

                                                    {#<a href="#" class="btn-image">#}
                                                        {#<img src="images/download-buttons/download-buttons-003.jpg" alt="Windows Store" />#}
                                                    {#</a>#}

                                                {#</div><!-- /End gfort Block Content -->#}


                                            {#</div><!-- /End gfort Block Body -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Button Block -->#}


                                {#</div><!-- /End col-md-6 -->#}


                                {#<!-- col-md-6 -->#}
                                {#<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">#}
                                    {#<!-- Image Block -->#}
                                    {#<div class="gfort-block image-block gfort-block-style-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.25s">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Head -->#}
                                            {#<div class="gfort-block-head">#}
                                                {#<img src="images/index/app/003.png" alt="APP Image" />#}
                                            {#</div><!-- /End gfort Block Head -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Image Block -->#}
                                {#</div><!-- /End col-md-6 -->#}


                            {#</div><!-- /End row -->#}
                        {#</div><!-- /End container -->#}
                    {#</div><!-- /End Section Container -->#}
                {#</div><!-- /End gfort Section -->#}


                {#<!-- gfort Section -->#}
                {#<div class="gfort-section fullwidth-section pt-0 pb-0">#}
                    {#<!-- Section Container -->#}
                    {#<div class="section-container">#}
                        {#<!-- container -->#}
                        {#<div class="container">#}
                            {#<!-- row -->#}
                            {#<div class="row">#}


                                {#<!-- col-md-12 -->#}
                                {#<div class="col-md-12">#}
                                    {#<div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide hr-divider-grey-color mt-0 mb-0"></div>#}
                                {#</div><!-- /End col-md-12 -->#}


                            {#</div><!-- /End row -->#}
                        {#</div><!-- /End container -->#}
                    {#</div><!-- /End Section Container -->#}
                {#</div><!-- /End gfort Section -->#}


                {#<!-- gfort Section -->#}
                {#<div class="gfort-section">#}
                    {#<!-- Section Container -->#}
                    {#<div class="section-container">#}
                        {#<!-- container -->#}
                        {#<div class="container">#}
                            {#<!-- row -->#}
                            {#<div class="row">#}


                                {#<!-- col-md-6 -->#}
                                {#<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">#}
                                    {#<!-- Image Block -->#}
                                    {#<div class="gfort-block image-block gfort-block-style-6 wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.25s">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Head -->#}
                                            {#<div class="gfort-block-head">#}
                                                {#<img src="images/index/app/004.png" alt="APP Image" />#}
                                            {#</div><!-- /End gfort Block Head -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Image Block -->#}
                                {#</div><!-- /End col-md-6 -->#}


                                {#<!-- col-md-6 -->#}
                                {#<div class="col-md-6">#}


                                    {#<!-- gfort Accordion -->#}
                                    {#<div class="gfort-accordion">#}
                                        {#<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">#}


                                            {#<!-- Panel 1 -->#}
                                            {#<div class="panel panel-default">#}

                                                {#<div class="panel-heading" role="tab" id="heading1">#}
                                                    {#<h4 class="panel-title">#}
                                                        {#<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true" aria-controls="collapse1">WORKING AJAX FORM</a>#}
                                                    {#</h4>#}
                                                {#</div>#}

                                                {#<div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">#}
                                                    {#<div class="panel-body">#}

                                                        {#<p>Efficiently enable enabled sources and cost effective products. Quickly maximize timely deliverables for real time schemas. Competently parallel task fully researched data and enterprise process improvements.</p>#}

                                                        {#<p>Maecenas dictum, enim in vulputate mattis, nibh quam nulla, vitae rutrum ligula felis et quam. Suspendisse vehicula egestas purus sed sollicitudin.</p>#}

                                                    {#</div>#}
                                                {#</div>#}

                                            {#</div><!-- /End Panel 1 -->#}


                                            {#<!-- Panel 2 -->#}
                                            {#<div class="panel panel-default">#}

                                                {#<div class="panel-heading" role="tab" id="heading2">#}
                                                    {#<h4 class="panel-title">#}
                                                        {#<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse2" aria-expanded="false" aria-controls="collapse2">MAILCHIMP NEWSLETTER</a>#}
                                                    {#</h4>#}
                                                {#</div>#}

                                                {#<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">#}
                                                    {#<div class="panel-body">#}

                                                        {#<p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>#}

                                                        {#<p>Curabitur porta pellentesque massa, et sodales nisl lacinia vitae. Cras a aliquam lacus, id blandit metus. Pellentesque faucibus orci lorem, vel aliquet nulla tempus sed.</p>#}

                                                    {#</div>#}
                                                {#</div>#}

                                            {#</div><!-- /End Panel 2 -->#}


                                            {#<!-- Panel 3 -->#}
                                            {#<div class="panel panel-default">#}

                                                {#<div class="panel-heading" role="tab" id="heading3">#}
                                                    {#<h4 class="panel-title">#}
                                                        {#<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse3" aria-expanded="false" aria-controls="collapse3">TWITTER FEED</a>#}
                                                    {#</h4>#}
                                                {#</div>#}

                                                {#<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">#}
                                                    {#<div class="panel-body">#}

                                                        {#<p>Override the digital divide with additional clickthroughs from DevOps. Leverage agile frameworks to provide a robust synopsis for high level overviews. Capitalise on low hanging fruit to identify a ballpark value added activity to beta test.</p>#}

                                                        {#<p>Morbi lectus elit, lacinia eget odio id, fermentum placerat velit. Sed faucibus congue nunc vitae porttitor. Integer auctor felis justo, vitae ullamcorper leo cursus in.</p>#}

                                                    {#</div>#}
                                                {#</div>#}

                                            {#</div><!-- /End Panel 3 -->#}

                                        {#</div>#}
                                    {#</div><!-- /End gfort Accordion -->#}


                                    {#<!-- Button Block -->#}
                                    {#<div class="gfort-block btn-block">#}
                                        {#<!-- gfort Block Container -->#}
                                        {#<div class="gfort-block-container">#}


                                            {#<!-- gfort Block Body -->#}
                                            {#<div class="gfort-block-body">#}


                                                {#<!-- gfort Block Content -->#}
                                                {#<div class="gfort-block-content">#}

                                                    {#<a href="#" class="btn-image">#}
                                                        {#<img src="images/download-buttons/download-buttons-001.jpg" alt="APP Store" />#}
                                                    {#</a>#}

                                                    {#<a href="#" class="btn-image">#}
                                                        {#<img src="images/download-buttons/download-buttons-002.jpg" alt="Play Store" />#}
                                                    {#</a>#}

                                                    {#<a href="#" class="btn-image">#}
                                                        {#<img src="images/download-buttons/download-buttons-003.jpg" alt="Windows Store" />#}
                                                    {#</a>#}

                                                {#</div><!-- /End gfort Block Content -->#}


                                            {#</div><!-- /End gfort Block Body -->#}


                                        {#</div><!-- /End gfort Block Container -->#}
                                    {#</div><!-- /End Button Block -->#}


                                {#</div><!-- /End col-md-6 -->#}


                            {#</div><!-- /End row -->#}
                        {#</div><!-- /End container -->#}
                    {#</div><!-- /End Section Container -->#}
                {#</div><!-- /End gfort Section -->#}


                <!-- gfort Section -->
                {#<div class="gfort-section parallax-section" style="background-image: url(images/index/app/001.jpg);" id="section-2">#}
                    {#<!-- Section Container -->#}
                    {#<div class="section-container">#}
                        {#<!-- container -->#}
                        {#<div class="container">#}
                            {#<!-- row -->#}
                            {#<div class="row">#}


                                {#<!-- col-md-12 -->#}
                                {#<div class="col-md-12">#}
                                    {#<!-- Section Title -->#}
                                    {#<div class="section-title text-center light-color">#}

                                        {#<h2 class="section-main-title">SUBSCRIBE NOW AND STAY INFORMED</h2>#}

                                        {#<div class="hr-divider hr-divider-style-1"></div>#}

                                    {#</div><!-- /End Section Title -->#}
                                {#</div><!-- /End col-md-12 -->#}


                                {#<!-- col-md-8 col-md-offset-2 -->#}
                                {#<div class="col-md-8 col-md-offset-2">#}
                                    {#<!-- Subscribe Form Block (Mailchimp) -->#}
                                    {#<div class="form-block subscribe-form-block mailchimp-form-block light-color" data-form-url="//Graphicfort.us11.list-manage.com/subscribe/post?u=dffe9a5d2b472dbe0cc471e1b&amp;id=4150cd2f12">#}
                                        {#<!-- Form Block Container -->#}
                                        {#<div class="form-block-container">#}
                                            {#<!-- Form -->#}
                                            {#<form method="post" action="#">#}


                                                {#<!-- Email Address -->#}
                                                {#<div class="col-md-12">#}
                                                    {#<!-- Form Group -->#}
                                                    {#<div class="form-group">#}

                                                        {#<label>Email Address</label>#}
                                                        {#<input type="email" class="form-control subscribe-email" name="EMAIL">#}

                                                    {#</div><!-- /End Form Group -->#}
                                                {#</div><!-- /End Email Address -->#}


                                                {#<!-- Submit Button -->#}
                                                {#<div class="col-md-12">#}
                                                    {#<!-- Form Group -->#}
                                                    {#<div class="form-group">#}

                                                        {#<button type="submit" class="btn btn-gfort-o">SUBSCRIBE</button>#}

                                                    {#</div><!-- /End Form Group -->#}
                                                {#</div><!-- /End Submit Button -->#}


                                            {#</form><!-- /End Form -->#}
                                        {#</div><!-- /End Form Block Container -->#}
                                    {#</div><!-- /End Subscribe Form Block (Mailchimp) -->#}
                                {#</div><!-- /End col-md-8 col-md-offset-2 -->#}


                            {#</div><!-- /End row -->#}
                        {#</div><!-- /End container -->#}
                    {#</div><!-- /End Section Container -->#}
                {#</div><!-- /End gfort Section -->#}

                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section" id="section-3">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Section Title -->
                                    <div class="section-title text-center">

                                        <h2 class="section-main-title">{{ 'content.adventure.moments'|trans|upper }}</h2>

                                        <p class="section-subtitle">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Gallery items Wrapper -->
                                    <div class="gallery-items-wrapper gallery-col-4 gallery-gap-30 isotope-masonry">


                                        <!-- Gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                            <a href="{{ asset('images/galery/1.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/1.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- /End Gallery item -->


                                        <!-- Gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                            <a href="{{ asset('images/galery/2.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/2.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- /End Gallery item -->


                                        <!-- Gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                            <a href="{{ asset('images/galery/3.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/3.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- /End Gallery item -->


                                        <!-- Gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
                                            <a href="{{ asset('images/galery/4.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/4.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- /End Gallery item -->


                                    </div><!-- /End Gallery items Wrapper -->
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                                        <i class="fa fa-commenting-o"></i>
                                    </div>
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->


                <!-- gfort Section -->
                <div class="gfort-section" id="section-4">
                    <!-- Section Container -->
                    <div class="section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- Section Title -->
                                    <div class="section-title text-center">

                                        <h2 class="section-main-title">{{ 'content.what.customers.say'|trans|upper }}</h2>

                                        <p class="section-subtitle">Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</p>

                                        <div class="hr-divider hr-divider-style-1"></div>

                                    </div><!-- /End Section Title -->
                                </div><!-- /End col-md-12 -->


                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- gfort owl Slider -->
                                    <div class="gfort-owl-slider owl-carousel owl-theme" data-slider-items="1" data-slider-arrows="true" data-slider-arrows-type="arrow" data-slider-dots="true" data-slider-autoplay="true">


                                        {% for impression in impressions %}
                                            <div class="gfort-owl-slider-item">
                                                <div class="testimonials-item testimonials-item-style-2">
                                                    <div class="testimonials-item-container">
                                                        <div class="testimonials-item-body">
                                                            <p>{{ impression.impression }}</p>
                                                        </div>
                                                        <div class="testimonials-item-footer">
                                                            <div class="testimonials-item-avatar">
                                                                <img src="{{ asset(impression.pictureUrl) }}" alt="Client Avatar" />
                                                            </div>
                                                            <div class="testimonials-item-meta">
                                                                <div class="testimonials-item-meta-container">
                                                                    <h5 class="testimonials-item-name">{{ impression.firstName }} {{ impression.lastName }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}





                                    </div><!-- /End gfort owl Slider -->
                                </div><!-- /End col-md-12 -->


                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Section Container -->
                </div><!-- /End gfort Section -->







            </div><!-- /End Main Content Container -->
        </div><!-- /End Main Content -->


    </div><!-- /End Page Body -->
    {#//todo sutvarkyti, kad pastomatu pasirinkime butu paieska#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


//        $(document).ready(function () {
//            $("#form-field-select-4").chosen().on('chosen:showing_dropdown',function() {
//                $('.chosen-select1').attr('disabled', true).trigger('chosen:updated');
//                $('.chosen-select1').attr('disabled', false).trigger('chosen:updated');
//                $('.search-choice-close').hide();
//            });
////            $('.search-choice-close').hide();
//        });

        $(".noclick").click(false);
//$("#select-parcelMachine").chosen({"search_contains": true});

        var pictureNo = 1;

        $(document).ready(function() {
            setTimeout(changeParallaxBackground, 5000);
            if("{{ contentLink }}".length > 1){
                $.scrollTo("#{{ contentLink }}", {
                    duration: 3000
                });
            }

        });

        function changeParallaxBackground()
        {
            pictureNo++;
            if(pictureNo > 3){
                pictureNo = 1;
            }

            $("#parallax-main").css('background-image', 'url({{ asset('images/parallax/') }}' + pictureNo + '.jpg)');
            setTimeout(changeParallaxBackground, 9000);
        }

    </script>

    <script language="JavaScript">
        $("#btn-facebook-login").on('click', function () {
            $(this).addClass('disabled');
            $("#login-text").html(userWaiting);
        });



        var boxSelected = false;
        var prices = [19.99, 29.99, 49.99];

        var orderContact = new WOW({
            boxClass: 'order-contact',
            animateClass: 'animated'
//            offset: 0
        });
        var orderAddress = new WOW({
            boxClass: 'order-address',
            animateClass: 'animated'
//            offset: 0
        });


        $(".order-btn").on('click', function() {
            if(!boxSelected) {
                animateEffect($("#order-contact"), "fadeInLeft");
                boxSelected = true;

            }


        });

        $("input:radio[name='secretboxSize']").change( function () {
            if ($(this).is(':checked')){
                var value = $("[name='secretboxSize']:checked").val();
                $("#btn-proceed-payment").html('Apmokėti <strong>' + prices[value] + ' EUR</strong>');
            }
        });






        $("#btn-delivery-address").on('click', function () {
            $(this).addClass('disabled');
            animateEffect($("#order-address"), "fadeInRight");
            animateEffect($("#order-contact"), "fadeOutLeft");
            $("#btn-contacts").removeClass('disabled');
//            hideContacts();
        });

        $("#btn-contacts").on('click', function () {
            $(this).addClass('disabled');
            animateEffect($("#order-address"), "fadeOutRight");
            animateEffect($("#order-contact"), "fadeInLeft");
            $("#btn-delivery-address").removeClass('disabled');
        });

        var deliveryTypeSelected = false;

        $("#btn-delivery-home").on('click', function () {
            $("#delivery-display").css('height', '130px');
            animateEffect($("#home-delivery"), "fadeInLeft");

            if(deliveryTypeSelected){
                animateEffect($("#parcel-delivery"), "fadeOutRight");
            } else {
                $("#btn-payment-type").css('display', 'block');
                animateEffect($("#btn-payment-type"), 'fadeInUp');
            }
            deliveryTypeSelected = true;
        });

        $("#btn-delivery-parcel").on('click', function () {
            $("#delivery-display").css('height', '130px');
            animateEffect($("#parcel-delivery"), "fadeInRight");
            $("#btn-payment-type").css('display', 'block');
            animateEffect($("#btn-payment-type"), 'fadeInUp');
            if(deliveryTypeSelected){
                animateEffect($("#home-delivery"), "fadeOutLeft");
            } else {
                $("#btn-payment-type").css('display', 'block');
                animateEffect($("#btn-payment-type"), 'fadeInUp');
            }
            deliveryTypeSelected = true;
        });

        var paymentTypeSelected = false;


        $("#btn-payment-type").on('click', function () {
            if ($("#select-parcelMachine").val() || ($("[name='deliveryType']:checked").val() == 0)){
                $(this).addClass('disabled');
                animateEffect($("#order-address"), "fadeOutLeft");
                animateEffect($("#payment-type"), "fadeInRight");
                var value = $("[name='secretboxSize']:checked").val();
                $("#btn-proceed-payment").html('Apmokėti <strong>' + prices[value] + ' EUR</strong>');
                $("#btn-back-delivery-address").removeClass('disabled');
            } else {
                alert('select parcel machine!');
            }
        });

        $("#btn-back-delivery-address").on('click', function () {
            $(this).addClass('disabled');
            animateEffect($("#payment-type"), "fadeOutRight");
            animateEffect($("#order-address"), "fadeInLeft");
            $("#btn-payment-type").removeClass('disabled');
        });

        $(".payment-btn").on('click', function () {
//            $("#btn-proceed-payment").css('display', 'block');
            animateEffect($("#btn-proceed-payment"), 'fadeInUp');
        });



        //            $("#btn-delivery-address").removeClass('disabled');




        function animateEffect(element, fadeEffect){
            showElement(element);
            element
                .removeClass("animated ")
                .removeClass("fadeInLeft")
                .removeClass("fadeOutLeft ")
                .removeClass("fadeInRight ")
                .removeClass("fadeOutRight ")
                .addClass("animated " + fadeEffect);
        }

        function showElement(element) {
            element
                .css('visibility', 'visible')
                .css('display', 'block');
        }

//        function hide(element) {
//            element
//                .css('visibility', 'hidden')
//                .css('display', 'none');
//        }
//
//        function showContacts(){
//            $("#order-contact")
//                .css('visibility', 'visible')
//                .css('display', 'block')
//                .removeClass("animated fadeInUp")
//                .addClass("animated fadeInUp")
////                .attr('data-wow-duration', '10s')
////                .attr('data-wow-delay', '3s')
////                .toggleClass("animated");
////            orderContact.init();
//
//        }
//
//        function hideContacts() {
//            $("#order-contact")
//                .removeClass('animated fadeInUp')
//                .addClass('animated fadeOutDown')
////                .attr('data-wow-duration', '1s')
////                .attr('data-wow-delay', '0.25s')
////                .toggleClass("animated");
////            orderContact.init();
//        }
//
//        function showAddress() {
//            $("#order-address")
//                .css('visibility', 'visible')
//                .css('display', 'block')
////                .attr('data-wow-duration', '1s')
////                .attr('data-wow-delay', '0.5s')
//                .addClass('animated fadeInRight')
////                .toggleClass("animated");
////            orderAddress.init();
//            $("#btn-delivery-address").removeClass('disabled');
//        }
//
//        function hideAddress() {
//            $("#order-address")
////                .css('visibility', 'visible')
////                .css('display', 'block')
//                .removeClass('animated fadeInUp')
//                .addClass('animated fadeOutDown')
////                .attr('data-wow-duration', '1s')
////                .attr('data-wow-delay', '0.5s')
////                .toggleClass("animated");
////                .addClass('wow fadeInRight');
////            orderAddress.init();
//        }

    </script>

<script language="JavaScript">

    /* Float Label Pattern Plugin for Bootstrap 3.1.0 by Travis Wilson
**************************************************/

    (function ($) {
        $.fn.floatLabels = function (options) {

            // Settings
            var self = this;
            var settings = $.extend({}, options);


            // Event Handlers
            function registerEventHandlers() {
                self.on('input keyup change', 'input, textarea', function () {
                    actions.swapLabels(this);
                });
            }


            // Actions
            var actions = {
                initialize: function() {
                    self.each(function () {
                        var $this = $(this);
                        var $label = $this.children('label');
                        var $field = $this.find('input,textarea').first();

                        if ($this.children().first().is('label')) {
                            $this.children().first().remove();
                            $this.append($label);
                        }

                        var placeholderText = ($field.attr('placeholder') && $field.attr('placeholder') != $label.text()) ? $field.attr('placeholder') : $label.text();

                        $label.data('placeholder-text', placeholderText);
                        $label.data('original-text', $label.text());

                        if ($field.val() == '') {
                            $field.addClass('empty')
                        }
                    });
                },
                swapLabels: function (field) {
                    var $field = $(field);
                    var $label = $(field).siblings('label').first();
                    var isEmpty = Boolean($field.val());

                    if (isEmpty) {
                        $field.removeClass('empty');
                        $label.text($label.data('original-text'));
                    }
                    else {
                        $field.addClass('empty');
                        $label.text($label.data('placeholder-text'));
                    }
                }
            }


            // Initialization
            function init() {
                registerEventHandlers();

                actions.initialize();
                self.each(function () {
                    actions.swapLabels($(this).find('input,textarea').first());
                });
            }
            init();


            return this;
        };

        $(function () {
            $('.float-label-control').floatLabels();
        });
    })(jQuery);
</script>

{% endblock %}
