{% extends "::base.html.twig" %}

{% block title %}
    Pradžia - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/appearing-text.css') }}"/>
    {{ parent() }}
{% endblock %}

{% block body %}
     <div id="parallax" class="introduction">
        <div class="parallax-window" data-parallax="scroll"
             data-image-src="{{ asset("images/parallax/1.jpg") }}" data-speed="0.1" >
        </div>
        <div class="parallax-window parallax-text">
            <div class="parallax-slider">
                <div class="message">{{ 'intro.first'|trans }}</div>
            </div>
        </div>
        <div class="parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/parallax/2.jpg') }}" data-speed="0.1"></div>
        <div class="parallax-window parallax-text">
            <div class="parallax-slider" >
                <div class="message">{{ 'intro.second'|trans }}</div>
            </div>
        </div>
        <div class="parallax-window" data-parallax="scroll"
             data-image-src="{{ asset('images/parallax/3.jpg') }}" data-speed="0.1">
        </div>
        <div class="parallax-window parallax-text">
            <div class="parallax-slider">
                <div class="message">{{ 'intro.third'|trans }}</div>
            </div>
        </div>
        <div class="parallax-window">
            <div class="parallax-slider">
                <div class="message">{{ 'product.preorder'|trans }}</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
