{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- homepage section -->
    <div id="section-homepage" class="gfort-section parallax-section">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5">
                        <!-- GAP 100px -->
                        <div class="gap gap-100 hidden-sm hidden-xs"></div>
                        <div class="section-title intro-section-title light-color text-center">
                            <h2 class="section-main-title border-text">{{ 'section.homepage.text.1'|trans|upper }}<br>SECRET BOX</h2>
                            {#todo vertimas#}
                            {#todo admin panele pabaigt, kad nustatyt kad adminas ir visus vertimus#}
                            <p class="section-subtitle">
                                <a href="#section-price" class="btn btn-gfort-o" data-scroll>3 nuotykių tipai</a>
                            </p>
                        </div>
                        <!-- GAP 30px -->
                        <div class="gap gap-30"></div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="gfort-block text-block gfort-block-style-1" >
                            <div class="gfort-block-container" style="background-color: rgba(227,227,227,0.6)">
                                <div class="gfort-block-body">
                                    <div class="gfort-block-content">
                                        <h4>
                                            {{ 'section.homepage.text.intro.1'|trans|raw }}
                                        </h4>
                                        <h4>
                                            {{ 'section.homepage.text.intro.2'|trans|raw }}
                                        </h4>
                                        <h4>
                                            {{ 'section.homepage.text.intro.3'|trans|raw }}
                                        </h4>
                                        <div class="section-button">
                                            <a href="#section-begin-adventure" class="btn btn-gfort-o" data-scroll>
                                                {{ 'product.order'|trans }}
                                            </a>
                                            <a href="#section-about" class="btn btn-gfort-o" data-scroll>
                                                {{ 'content.more'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- about section -->
    <div class="gfort-section" id="section-about">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-main-title">
                                {{ 'section.about'|trans|upper }}
                            </h2>
                            <p class="section-subtitle">
                                {{ 'section.about.paragraph'|trans }}
                            </p>
                            <div class="hr-divider hr-divider-style-1"></div>
                        </div>
                    </div>

                    <!-- 4 about blocks section -->
                    <div class="col-md-12">
                        <!-- GAP 30px -->
                        <div class="gap gap-30"></div>
                    </div>

                    <!-- 1st about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-check-square-o "></i>
                                    <i class="fa fa-check-square-o "></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.1'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.1'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                    <!-- 2nd about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-gift"></i>
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.2'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.2'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                    <!-- 3rd about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-binoculars"></i>
                                    <i class="fa fa-binoculars"></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.3'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.3'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                    <!-- 4th about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-commenting-o"></i>
                                    <i class="fa fa-commenting-o"></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.4'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.4'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-signal"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- numbers section -->
    <div class="gfort-section">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <!-- ongoing secrets -->
                    <div class="col-sm-4 col-xs-6">
                        <div class="counter-block">
                            <span class="number-block" data-to="{{ eventsAndCustomers.ongoing }}" data-speed="5000" data-refresh-interval="5">{{ eventsAndCustomers.ongoing }}</span>
                            <p><i class="fa fa-diamond"></i> {{ 'section.numbers.1'|trans }}</p>
                        </div>
                    </div>
                    <!-- customers -->
                    <div class="col-sm-4 col-xs-6">

                        <div class="counter-block">
                            <span class="number-block" data-to="{{ eventsAndCustomers.customers }}" data-speed="5000" data-refresh-interval="7" style="color: #16a085;">{{ eventsAndCustomers.customers }}</span>
                            <p><i class="fa fa-thumbs-up"></i> {{ 'section.numbers.2'|trans }}</p>
                        </div>
                    </div>
                    <!-- revealed secrets -->
                    <div class="col-sm-4 col-xs-6">
                        <div class="counter-block">
                            <span class="number-block" data-to="{{ eventsAndCustomers.revealed }}" data-speed="5000" data-refresh-interval="5" style="color: #e74c3c;">{{ eventsAndCustomers.revealed }}</span>
                            <p><i class="fa fa-gift"></i> {{ 'section.numbers.3'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- prices section -->
    <div class="gfort-section" id="section-price">
        <div class="section-container">
            <div class="container">
                <div class="row">


                    {% set priceTitle = ['retas', 'epinis', 'legendinis']  %}
                    {% set benefits = [
                        ['retas nuotykis', 'paprastos užduotys'],
                        ['epinis nuotykis', 'sudėtingensės užduotys', 'nuostabą sekeliantis rezultatas'],
                        ['legendinis nuotykis', 'patiems reikliausiems nuotykių ieškotojams', 'prizas pranoks didžiausius Jūsų lūkesčius']
                        ]
                    %}
                    {% set number = 0 %}
                    {% for price in prices %}

                    <div class="col-md-4">
                        <div class="pricing-table-block">
                            <div class="pricing-table-block-container">
                                <div class="pricing-table-block-head">
                                    <div class="pricing-table-block-title">
                                        <h3>{{ priceTitle[number]|capitalize }} nuotykis</h3>
                                        <p>{{ price.box_size|trans|capitalize }} Secret box</p>
                                    </div>
                                    <div class="pricing-table-block-price">
                                        <h2>
                                            <span class="price-currency">$</span>
                                            <span class="price-integer-no">{{ price.price[:2] }}</span>
                                            <span class="price-decimal-no">{{ price.price[2:] }}</span>
                                        </h2>
                                        <p style="font-weight: 500">Nemokamas pristatymas</p>
                                    </div>
                                </div>
                                <div class="pricing-table-block-body">
                                    <ul>
                                        {% for benefit in benefits[number]  %}
                                            <li>{{ benefit }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="pricing-table-block-btn">
                                    <a href="#section-begin-adventure" onclick="selectBox('{{  price.box_size  }}')" class="btn btn-gfort" data-scrol>Purchase now</a>
                                </div><!-- /End Pricing Table Block Button -->


                            </div><!-- /End Pricing Table Block Container -->
                        </div><!-- /End Pricing Table Block -->
                    </div><!-- /End col-md-4 -->
                        {% set number = number + 1 %}

                    <!-- col-md-4 -->
                    {#<div class="col-md-4">#}
                        {#<!-- Pricing Table Block -->#}
                        {#<div class="pricing-table-block featured-pricing-table-block">#}
                            {#<!-- Pricing Table Block Container -->#}
                            {#<div class="pricing-table-block-container">#}
                                {#<div class="pricing-table-block-head">#}
                                    {#<div class="pricing-table-block-title">#}
                                        {#<h3>Epinis nuotykis</h3>#}
                                        {#<p>Vidutinė Secret box</p>#}
                                    {#</div>#}
                                    {#<div class="pricing-table-block-price">#}
                                        {#<h2>#}
                                            {#<span class="price-currency">$</span>#}
                                            {#<span class="price-integer-no">19</span>#}
                                            {#<span class="price-decimal-no">99</span>#}
                                        {#</h2>#}
                                        {#<p style="font-weight: 500">Nemokamas pristatymas</p>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="pricing-table-block-body">#}
                                    {#<ul>#}
                                        {#<li>epinis nuotykis</li>#}
                                        {#<li>sudėtingesnės užuominos</li>#}
                                    {#</ul>#}
                                {#</div>#}
                                {#<div class="pricing-table-block-btn">#}
                                    {#<a href="#" class="btn btn-gfort">Purchase now</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}


                    {#<!-- col-md-4 -->#}
                    {#<div class="col-md-4">#}
                        {#<!-- Pricing Table Block -->#}
                        {#<div class="pricing-table-block">#}
                            {#<!-- Pricing Table Block Container -->#}
                            {#<div class="pricing-table-block-container">#}


                                {#<!-- Pricing Table Block Head -->#}
                                {#<div class="pricing-table-block-head">#}

                                    {#<!-- Pricing Table Block Title -->#}
                                    {#<div class="pricing-table-block-title">#}
                                        {#<h3>BUSINESS</h3>#}
                                        {#<p>For Agency</p>#}
                                    {#</div><!-- /End Pricing Table Block Title -->#}

                                    {#<!-- Pricing Table Block Price -->#}
                                    {#<div class="pricing-table-block-price">#}
                                        {#<h2>#}
                                            {#<span class="price-currency">$</span>#}
                                            {#<span class="price-integer-no">39</span>#}
                                            {#<span class="price-decimal-no">99</span>#}
                                        {#</h2>#}
                                        {#<p style="font-weight: 500">PER MONTH</p>#}
                                    {#</div><!-- /End Pricing Table Block Price -->#}

                                {#</div><!-- /End Pricing Table Block Head -->#}


                                {#<!-- Pricing Table Block Body -->#}
                                {#<div class="pricing-table-block-body">#}
                                    {#<ul>#}
                                        {#<li>30 Websites</li>#}
                                        {#<li>600 Emails</li>#}
                                        {#<li>30 FTP accounts</li>#}
                                        {#<li>30 Domain name</li>#}
                                        {#<li>600GB Disk space</li>#}
                                    {#</ul>#}
                                {#</div><!-- /End Pricing Table Block Body -->#}


                                {#<!-- Pricing Table Block Button -->#}
                                {#<div class="pricing-table-block-btn">#}
                                    {#<a href="#" class="btn btn-gfort">Purchase now</a>#}
                                {#</div><!-- /End Pricing Table Block Button -->#}


                            {#</div><!-- /End Pricing Table Block Container -->#}
                        {#</div><!-- /End Pricing Table Block -->#}
                    {#</div><!-- /End col-md-4 -->#}

                    {% endfor %}

                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Section Container -->
    </div><!-- /end section -->

   <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- begin-adventure section -->
    <div class="gfort-section pb-0" id="section-begin-adventure">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-main-title">{{ 'section.begin.adventure'|trans }}</h2>
                            <div class="hr-divider hr-divider-style-1"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 500px;">
                        {{ include('@App/Order/order.section.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

                <!-- divider Section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                                        <i class="fa fa-camera"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end section -->

                <!-- adventure moments section -->
                <div class="gfort-section fullwidth-section" id="section-adventure-moments">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h2 class="section-main-title">{{ 'section.adventure.moments.title'|trans|upper }}</h2>
                                        <p class="section-subtitle">
                                            {{ 'section.adventure.moments.body'|trans }}
                                        </p>
                                        <div class="hr-divider hr-divider-style-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="gallery-items-wrapper gallery-gap-10 gallery-col-4 isotope-masonry">
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                            <a href="{{ asset('images/galery/1.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/1.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                            <a href="{{ asset('images/galery/2.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/2.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                            <a href="{{ asset('images/galery/3.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/3.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
                                            <a href="{{ asset('images/galery/4.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/4.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end section -->

                <!-- divider section -->
                <div class="gfort-section fullwidth-section pt-0 pb-0">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                                        <i class="fa fa-commenting-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end section -->

                <!-- comments section -->
                <div class="gfort-section" id="section-comments">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h2 class="section-main-title">{{ 'section.comments.title'|trans|upper }}</h2>
                                        <p class="section-subtitle">
                                            {{ 'section.comments.body'|trans }}
                                        </p>
                                        <div class="hr-divider hr-divider-style-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- comment slider -->
                                    <div class="gfort-owl-slider owl-carousel owl-theme" data-slider-items="1" data-slider-arrows="true" data-slider-arrows-type="arrow" data-slider-dots="true" data-slider-autoplay="true">
                                        {% for impression in impressions %}

                                        <div class="gfort-owl-slider-item">
                                            <div class="testimonials-item testimonials-item-style-2">
                                                <div class="testimonials-item-container">
                                                    <div class="testimonials-item-body">
                                                        <p>{{ impression.impression }}</p>
                                                    </div>
                                                    <div class="testimonials-item-footer">
                                                        <div class="testimonials-item-avatar">
                                                            <img src="{{ asset(impression.pictureUrl) }}" alt="Client Avatar" />
                                                        </div>
                                                        <div class="testimonials-item-meta">
                                                            <div class="testimonials-item-meta-container">
                                                                <h5 class="testimonials-item-name">
                                                                    {{ impression.firstName }} {{ impression.lastName }}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </div><!-- end slider -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end section -->

            {#</div>#}
        {#</div>#}

    {#</div>#}
    {#//todo JEI BUS LAIKO sutvarkyti, kad pastomatu pasirinkime butu paieska#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var sectionHomepage =  $('#section-homepage');
        $(".no-click").click(false);


        $(document).ready(function() {
            if("{{ contentLink }}".length > 1){
                $.scrollTo("#{{ contentLink }}", {
                    duration: 3000
                });
            }
        });

        sectionHomepage.bgswitcher({
            images: ["{{ asset('images/parallax/1.jpg') }}","{{ asset('images/parallax/2.jpg') }}","{{ asset('images/parallax/3.jpg') }}"],
            effect: "fade",
            interval: 9000
        });



        $(".btn-facebook-login").on('click', function () {
            $(this).addClass('disabled');
            $(".login-text").html(userWaiting);
        });

//        $("#btn-facebook-login").on('click', function () {
//            $(this).addClass('disabled');
//            $("#login-text").html(userWaiting);
//        });

        /*order control*/
    function selectBox(box) {
//        $("#small-box").prop("checked", true);
//        $("#small-box").is(":checked");
//        $('#small-box').attr('checked','checked');

        $("#box-" + box).trigger( "click" );
//        $("#box-label-small").addClass('active focus');
//        $('#small-box').trigger();
//        "chosen:updated"
    }


        var boxSelected = false;
        var prices = [];
        {% for price in prices %}
        prices['{{ price.box_size }}'] = {{ price.price }};
        {% endfor %}

        {% for price in prices %}
            $("#box-{{ price.box_size }}").on('click', function() {
                AAA();
            });
        {% endfor %}



        function AAA(){
            animateEffect($("#order-contact"), "fadeInLeft");
        }


        $(".order-btn").on('click', function() {
            if(!boxSelected) {
                animateEffect($("#order-contact"), "fadeInLeft");
                boxSelected = true;
            }
        });

        $("input:radio[name='secretBoxSize']").change( function () {
            if ($(this).is(':checked')){
                var value = $("[name='secretBoxSize']:checked").val();
                $("#btn-proceed-payment").html('Apmokėti <strong>' + prices[value] + ' EUR</strong>');
            }
        });

//        $( "#order-form" ).validate({
//            rules: {
//                firstName: {
//                    required: true
//                }
//            }
//        });


        $("#btn-delivery-address").on('click', function () {
//            $(this).addClass('disabled');

//            var validator = $( "#order-form" ).validate();
//            validator.element( "#firstName" );
            $('#order-form').parsley().validate();
            if($('#order-form').parsley().isValid()){
                animateEffect($("#order-address"), "fadeInRight");
                animateEffect($("#order-contact"), "fadeOutLeft");

            }
//            if ($('#form').parsley().isValid()) {
//                console.log('valid');
//            } else {
//                console.log('not valid');
//            }
//            $('#order-form').parsley().whenValidate({
////                group: 'block-' + curIndex()
//            }).done(function() {
//                alert('aaaaa');
//            });


//            $("#btn-contacts").removeClass('disabled');
        });

        $("#btn-contacts").on('click', function () {
//            $(this).addClass('disabled');
            animateEffect($("#order-address"), "fadeOutRight");
            animateEffect($("#order-contact"), "fadeInLeft");
//            $("#btn-delivery-address").removeClass('disabled');
        });

        var deliveryTypeSelected = false;

        $("#btn-delivery-home").on('click', function () {
            $("#delivery-display").css('height', '130px');
            animateEffect($("#home-delivery"), "fadeInLeft");
            $("#home-address").prop('required', true);
            $("#select-parcelMachine").removeAttr('required');
            if(deliveryTypeSelected){
                animateEffect($("#parcel-delivery"), "fadeOutRight");
            } else {
                $("#btn-payment-type").css('display', 'block');
                animateEffect($("#btn-payment-type"), 'fadeInUp');
            }
            deliveryTypeSelected = true;
        });

        $("#btn-delivery-parcel").on('click', function () {
            $("#delivery-display").css('height', '130px');
            animateEffect($("#parcel-delivery"), "fadeInRight");
            $("#btn-payment-type").css('display', 'block');
            $("#home-address").removeAttr('required');
            $("#select-parcelMachine").prop('required', true);
            animateEffect($("#btn-payment-type"), 'fadeInUp');
            if(deliveryTypeSelected){
                animateEffect($("#home-delivery"), "fadeOutLeft");
            } else {
                $("#btn-payment-type").css('display', 'block');
                animateEffect($("#btn-payment-type"), 'fadeInUp');
            }
            deliveryTypeSelected = true;
        });

        var paymentTypeSelected = false;



        $("#btn-payment-type").on('click', function () {

            if($("[name='deliveryType']:checked").val() == "home"){

                $('#order-form').parsley().validate();
                if($('#order-form').parsley().isValid()){
                    animateEffect($("#order-address"), "fadeOutLeft");
                    animateEffect($("#payment-type"), "fadeInRight");
                    $("#btn-proceed-payment").html('Apmokėti <strong>' + prices[value] + ' EUR</strong>');
                } else {
                    alert('not valid? wtf');
                }
            }

            if($("[name='deliveryType']:checked").val() == "parcel_machine"){
                alert('baaaam');
                $('#order-form').parsley().validate();
                if($('#order-form').parsley().isValid()){

                    alert('valiiiiiiiiiiiiiiiiiiiiiiiid');
                    animateEffect($("#order-address"), "fadeOutLeft");
                    animateEffect($("#payment-type"), "fadeInRight");
                    $("#btn-proceed-payment").html('Apmokėti <strong>' + prices[value] + ' EUR</strong>');
                } else {
                    $(".parcel-select")
//                    .removeClass('parcel-select')
                    .css('border', '2px solid red');
                    alert('not valid? wtf');
                }
            }


//            if ($("#select-parcelMachine").val() || ($("[name='deliveryType']:checked").val() == "home")){
////                $(this).addClass('disabled');
//                animateEffect($("#order-address"), "fadeOutLeft");
//                animateEffect($("#payment-type"), "fadeInRight");
//                var value = $("[name='secretBoxSize']:checked").val();
//                $("#btn-proceed-payment").html('Apmokėti <strong>' + prices[value] + ' EUR</strong>');
////                $("#btn-back-delivery-address").removeClass('disabled');
//            } else {
//                $(".parcel-select")
//                    .removeClass('parcel-select')
//                    .css('border', '2px solid red');
//                $("#label-parcel-select").css('display', 'block');
//
//            }
        });

        $("#btn-back-delivery-address").on('click', function () {
//            $(this).addClass('disabled');
            animateEffect($("#payment-type"), "fadeOutRight");
            animateEffect($("#order-address"), "fadeInLeft");
//            $("#btn-payment-type").removeClass('disabled');
        });

        $(".payment-btn").on('click', function () {
            animateEffect($("#btn-proceed-payment"), 'fadeInUp');
        });

        function animateEffect(element, fadeEffect){
            showElement(element);
            element
                .removeClass("animated ")
                .removeClass("fadeInLeft")
                .removeClass("fadeOutLeft ")
                .removeClass("fadeInRight ")
                .removeClass("fadeOutRight ")
                .addClass("animated " + fadeEffect);
        }

        function showElement(element) {
            element
                .css('visibility', 'visible')
                .css('display', 'block');
        }

        $("#select-parcelMachine").on('change', function() {
            $("#label-parcel-select").css('display', 'none');
            $(".chosen-container-single")
                .css('border', '1px solid #4cae4c');
        });

        $("#btn-proceed-payment").on('click', function () {
            document.forms['order-form'].submit();
            // Show full page LoadingOverlay
            $.LoadingOverlay("show");

// Hide it after 3 seconds
            setTimeout(function(){
                $.LoadingOverlay("hide");
            }, 3000);
        });


        /* gelolocations reikalai */

//todo naujas scriptas, pakeisti vietoje seno nustatymo, veikia visuose browseriuose
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var x = crd.latitude;
            var y = crd.longitude;

            sendData(x, y, "");

            console.log('Your current position is:');
            console.log('Latitude : ' + crd.latitude);
            console.log('Longitude: ' + crd.longitude);
            console.log('More or less ' + crd.accuracy + ' meters.');
        };

        function error(err) {
            var typed = new Typed('.parcel-loading-text', {
                strings: ["Jūsų koordinačių nustatyti nepavyko", "Tikrinamas namų adresas"],
                typeSpeed: 30
            });
            setTimeout(function () {
                if(typed != null){
                    typed.destroy();
                }

                var address = $("#home-address").val();
                if(address.length > 12){
                    var typed = new Typed('.parcel-loading-text', {
                        strings: ["Ieškoma pagal namų adresą", "Prašome palaukti"],
                        typeSpeed: 30
                    });
                    setTimeout(function () {
                        sendData("", "", address);
                    }, 4000);
                } else {
                    if(typed != null){
                        typed.destroy();
                    }
                    var typed = new Typed('.parcel-loading-text', {
                        strings: ["Neteisingai įvestas namų adresas", "Patikslinkite namų adresą ir pakartokite"],
                        typeSpeed: 30
                    });
                    $("#parcel-loading-img").css('display', 'none')
                    $("#btn-detect-parcel").css('display', 'inline-block')
                }
            }, 6000);

        };





        $("#btn-detect-parcel").on('click', function() {
            $(this).css('display', 'none');
            $("#parcel-loading").css('display', 'block');
            $("#parcel-loading-img").css('display', 'inline-block');
            var typed = new Typed('.parcel-loading-text', {
                strings: ["Ieškomas artimiausias paštomatas", "Prašome palaukti"],
                typeSpeed: 30
            });
            setTimeout(function () {
                typed.destroy();
                navigator.geolocation.getCurrentPosition(success, error, options);

//                getClientLocation();
            }, 4000);
        });

        function getClientLocation(){
//            var geo = false;
            var geo = navigator.geolocation;
            if(geo){
                geo.getCurrentPosition(displayLocation);
            }
            else {

//                var typed = new Typed('.parcel-loading-text', {
//                    strings: ["Jūsų koordinačių nustatyti nepavyko", "Tikrinamas namų adresas"],
//                    typeSpeed: 30
//                });
//                setTimeout(function () {
//                    typed.destroy();
//                    var address = $("#home-address").val();
//                    if(address.length > 12){
//                        var typed2 = new Typed('.parcel-loading-text', {
//                            strings: ["Ieškoma pagal namų adresą", "Prašome palaukti"],
//                            typeSpeed: 30
//                        });
//                        setTimeout(function () {
//                            sendData("", "", address);
//                        }, 4000);
//                    } else {
//                        var typed3 = new Typed('.parcel-loading-text', {
//                            strings: ["Neteisingai įvestas namų adresas", "Patikslinkite namų adresą ir pakartokite"],
//                            typeSpeed: 30
//                        });
//                        $("#parcel-loading-img").css('display', 'none')
//                        $("#btn-detect-parcel").css('display', 'inline-block')
//                    }
//                }, 6000);

            }
        }





        function displayLocation(position){
            var x = position.coords.latitude;
            var y = position.coords.longitude;
            sendData(x, y, "");
//
        }

        function sendData(x, y, address){
//            var datasend = x + "" + y;
            jQuery.ajax({
                url: "{{ path('app.order.locations') }}",
                type: "GET",
                data: {
//                    "data": datasend,
                    "coordinateX": x,
                    "coordinateY": y,
                    "address": address
//                    "coordinates": "iksas ir ygrikas"
                },
                success: function(data){
                    console.log(data.status);
                    if(data.status > 0){
                        createParcelMachinesList(data.parcelMachines);
                    } else {
                        errorFoundParcel()
                    }
//                    displayMap(position.coords, data.parcelMachines);
                },
                error: function() {
                    errorFoundParcel()
                }

            })
        }
        function errorFoundParcel(){
            $('.parcel-loading-text').html('');
            var typed = new Typed('.parcel-loading-text', {
                strings: [
                    'Deja artimiausio paštomato nustatyti nepavyko',
                    'Patikslinkite adresą ir pabandykite dar kartą'
                ],
                typeSpeed: 30
            });
            setTimeout(function () {
                $("#parcel-loading").append(
                    '<a id="btn-try-again" onclick="tryFindParcelAgain(this)" class="btn btn-default btn-md">Pabandyti dar karą</a>'
                );
            }, 5500);

        }

//        $("#btn-try-again").on('click', function () {
//            $(this).remove();
//            tryFindParcelAgain();
//        });

        function tryFindParcelAgain(el) {
            el.remove();
            $('.parcel-loading-text').html('');
            var typed = new Typed('.parcel-loading-text', {
                strings: ["Ieškomas artimiausias paštomatas", "Prašome palaukti"],
                typeSpeed: 30
            });
            var address = $("#home-address").val();

            setTimeout(function () {
                sendData("", "", address);
            }, 4000);
        }
        

        function createParcelMachinesList(parcelMachines){

            $('#select-parcelMachine').find('option').remove().end();
            parcelMachines.forEach(function (entry) {
                $('#select-parcelMachine').append($('<option></option>').val(entry['address']).html(
                    entry['distanceText'] + ' | '  + entry['name']
                ));
            });
            $('#select-parcelMachine').trigger("chosen:updated");
            $('#parcel-loading').find('img').remove();
            $('.parcel-loading-text').html('');
            var typed4 = new Typed('.parcel-loading-text', {
                strings: ["Sėkmingai rasti artimiausi paštomatai"],
                typeSpeed: 30
            });

        }

        var map;
        function displayMap(coords, parcelMachines) {
            var googleLatAndLong = new google.maps.LatLng(coords.latitude, coords.longitude);

            var mapOptions = {
                zoom: 15,
                center: googleLatAndLong,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var mapDiv = document.getElementById('map');
            map = new google.maps.Map(mapDiv, mapOptions);

            var title = 'Your Location';
            var content = 'You are here: ' + coords.latitude + ', ' + coords.longitude;
            addMarker(map, googleLatAndLong, title, content, null);

            var image = 'https://www.omniva.lt/theme/post24/img/logo.png';
            parcelMachines.forEach(function (entry) {
                googleLatAndLong = new google.maps.LatLng(entry['y'], entry['x']);
                addMarker(map, googleLatAndLong, 'test', 'content', image);
            });
        }

        function addMarker (map, latlong, title, content, image) {
            var markerOptions = {
                position: latlong,
                map: map,
                title: title,
                clickable: true,
                icon: image
            };

            var marker = new google.maps.Marker(markerOptions);

            var infoWindowOptions = {
                content: content,
                position: latlong
            };

            var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.open(map);
            });
        }
/* form validation */




    </script>



    <script type="text/javascript">
//        $(function () {
//            var $sections = $('.form-section');
//
//            function navigateTo(index) {
//                // Mark the current section with the class 'current'
//                $sections
//                    .removeClass('current')
//                    .eq(index)
//                    .addClass('current');
//                // Show only the navigation buttons that make sense for the current section:
//                $('.form-navigation .previous').toggle(index > 0);
//                var atTheEnd = index >= $sections.length - 1;
//                $('.form-navigation .next').toggle(!atTheEnd);
//                $('.form-navigation [type=submit]').toggle(atTheEnd);
//            }
//
//            function curIndex() {
//                // Return the current index by looking at which section has the class 'current'
//                return $sections.index($sections.filter('.current'));
//            }
//
//            // Previous button is easy, just go back
//            $('.form-navigation .previous').click(function() {
//                navigateTo(curIndex() - 1);
//            });
//
//            // Next button goes forward iff current block validates
//            $('.form-navigation .next').click(function() {
//                $('#order-form').parsley().whenValidate({
//                    group: 'block-' + curIndex()
//                }).done(function() {
//                    navigateTo(curIndex() + 1);
//                });
//            });
//
//            // Prepare sections by setting the `data-parsley-group` attribute to 'block-0', 'block-1', etc.
//            $sections.each(function(index, section) {
//                $(section).find(':input').attr('data-parsley-group', 'block-' + index);
//            });
//            navigateTo(0); // Start at the beginning
//        });
    </script>
{% endblock %}
