{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- homepage section -->
    <div id="section-homepage" class="gfort-section parallax-section">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5">
                        <!-- GAP 100px -->
                        <div class="gap gap-100 hidden-sm hidden-xs"></div>
                        <div class="section-title intro-section-title light-color text-center">
                            <h2 class="section-main-title border-text">{{ 'section.homepage.text.1'|trans|upper }}<br>SECRET BOX</h2>
                            {#todo vertimas#}
                            {#todo admin panele pabaigt, kad nustatyt kad adminas ir visus vertimus#}
                            <p class="section-subtitle">
                                <a href="#section-price" class="btn btn-gfort-o" data-scroll>3 nuotykių tipai</a>
                            </p>
                        </div>
                        <!-- GAP 30px -->
                        <div class="gap gap-30"></div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="gfort-block text-block gfort-block-style-1" >
                            <div class="gfort-block-container" style="background-color: rgba(227,227,227,0.6)">
                                <div class="gfort-block-body">
                                    <div class="gfort-block-content">
                                        <h4>
                                            {{ 'section.homepage.text.intro.1'|trans|raw }}
                                        </h4>
                                        <h4>
                                            {{ 'section.homepage.text.intro.2'|trans|raw }}
                                        </h4>
                                        <h4>
                                            {{ 'section.homepage.text.intro.3'|trans|raw }}
                                        </h4>
                                        <div class="section-button">
                                            <a href="#section-begin-adventure" class="btn btn-gfort-o" data-scroll>
                                                {{ 'product.order'|trans }}
                                            </a>
                                            <a href="#section-about" class="btn btn-gfort-o" data-scroll>
                                                {{ 'content.more'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- about section -->
    <div class="gfort-section" id="section-about">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-main-title">
                                {{ 'section.about'|trans|upper }}
                            </h2>
                            <p class="section-subtitle">
                                {{ 'section.about.paragraph'|trans }}
                            </p>
                            <div class="hr-divider hr-divider-style-1"></div>
                        </div>
                    </div>

                    <!-- 4 about blocks section -->
                    <div class="col-md-12">
                        <!-- GAP 30px -->
                        <div class="gap gap-30"></div>
                    </div>

                    <!-- 1st about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-check-square-o "></i>
                                    <i class="fa fa-check-square-o "></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.1'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.1'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                    <!-- 2nd about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-gift"></i>
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.2'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.2'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                    <!-- 3rd about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-binoculars"></i>
                                    <i class="fa fa-binoculars"></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.3'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.3'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                    <!-- 4th about block -->
                    <div class="col-md-3">
                        <div class="gfort-block icon-block icon-block-main gfort-block-style-5">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <i class="fa fa-commenting-o"></i>
                                    <i class="fa fa-commenting-o"></i>
                                </div>
                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>{{ 'section.about.block.title.4'|trans }}</h4>
                                    </div>
                                    <div class="gfort-block-content">
                                        <p>
                                            {{ 'section.about.block.body.4'|trans }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end block -->

                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-signal"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- numbers section -->
    <div class="gfort-section">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <!-- ongoing secrets -->
                    <div class="col-sm-4 col-xs-6">
                        <div class="counter-block">
                            <span class="number-block" data-to="{{ eventsAndCustomers.ongoing }}" data-speed="5000" data-refresh-interval="5">{{ eventsAndCustomers.ongoing }}</span>
                            <p><i class="fa fa-diamond"></i> {{ 'section.numbers.1'|trans }}</p>
                        </div>
                    </div>
                    <!-- customers -->
                    <div class="col-sm-4 col-xs-6">

                        <div class="counter-block">
                            <span class="number-block" data-to="{{ eventsAndCustomers.customers }}" data-speed="5000" data-refresh-interval="7" style="color: #16a085;">{{ eventsAndCustomers.customers }}</span>
                            <p><i class="fa fa-thumbs-up"></i> {{ 'section.numbers.2'|trans }}</p>
                        </div>
                    </div>
                    <!-- revealed secrets -->
                    <div class="col-sm-4 col-xs-6">
                        <div class="counter-block">
                            <span class="number-block" data-to="{{ eventsAndCustomers.revealed }}" data-speed="5000" data-refresh-interval="5" style="color: #e74c3c;">{{ eventsAndCustomers.revealed }}</span>
                            <p><i class="fa fa-gift"></i> {{ 'section.numbers.3'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- prices section -->
    <div class="gfort-section" id="section-price">
        <div class="section-container">
            <div class="container">
                <div class="row">

                    {% set priceTitle = ['retas', 'epinis', 'legendinis']  %}
                    {% set benefits = [
                        ['retas nuotykis', 'paprastos užduotys'],
                        ['epinis nuotykis', 'sudėtingensės užduotys', 'nuostabą sekeliantis rezultatas'],
                        ['legendinis nuotykis', 'patiems reikliausiems nuotykių ieškotojams', 'prizas pranoks didžiausius Jūsų lūkesčius']
                        ]
                    %}
                    {% set number = 0 %}
                    {% for price in prices %}

                    <div class="col-md-4">
                        <div class="pricing-table-block">
                            <div class="pricing-table-block-container">
                                <div class="pricing-table-block-head">
                                    <div class="pricing-table-block-title">
                                        <h3>{{ priceTitle[number]|capitalize }} nuotykis</h3>
                                        <p>{{ price.box_size|trans|capitalize }} Secret box</p>
                                    </div>
                                    <div class="pricing-table-block-price">
                                        <h2>
                                            <span class="price-currency">€</span>
                                            <span class="price-integer-no">{{ price.price[:2] }}</span>
                                            <span class="price-decimal-no">{{ price.price[2:] }}</span>
                                        </h2>
                                        <p style="font-weight: 500">Nemokamas pristatymas</p>
                                    </div>
                                </div>
                                <div class="pricing-table-block-body">
                                    <ul>
                                        {% for benefit in benefits[number]  %}
                                            <li>{{ benefit }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="pricing-table-block-btn">
                                    <a href="#section-begin-adventure" onclick="selectBox('{{  price.box_size  }}')" class="btn btn-gfort" data-scrol>Purchase now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% set number = number + 1 %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div><!-- /end section -->

   <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- begin-adventure section -->
    <div class="gfort-section pb-0" id="section-begin-adventure">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-main-title">{{ 'section.begin.adventure'|trans }}</h2>
                            <div class="hr-divider hr-divider-style-1"></div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 500px;">
                        {{ include('@App/Order/order.section.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- divider Section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-camera"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- adventure moments section -->
    <div class="gfort-section fullwidth-section" id="section-adventure-moments">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h2 class="section-main-title">{{ 'section.adventure.moments.title'|trans|upper }}</h2>
                                        <p class="section-subtitle">
                                            {{ 'section.adventure.moments.body'|trans }}
                                        </p>
                                        <div class="hr-divider hr-divider-style-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="gallery-items-wrapper gallery-gap-10 gallery-col-4 isotope-masonry">
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                            <a href="{{ asset('images/galery/1.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/1.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                            <a href="{{ asset('images/galery/2.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/2.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                                            <a href="{{ asset('images/galery/3.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/3.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                        <!-- gallery item -->
                                        <div class="gallery-item isotope-item wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
                                            <a href="{{ asset('images/galery/4.jpg') }}" class="scale-hover overlay-hover-2x" data-gfort-lightbox data-gfort-lightbox-group="gallery-1" title="APP Screenshot">
                                                <img src="{{ asset('images/galery/4.jpg') }}" alt="APP Screenshot" />
                                            </a>
                                        </div><!-- end item -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end section -->

    <!-- divider section -->
    <div class="gfort-section fullwidth-section pt-0 pb-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hr-divider hr-divider-style-6 hr-divider-wide text-center hr-divider-grey-color mt-0 mb-0">
                            <i class="fa fa-commenting-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end section -->

    <!-- comments section -->
    <div class="gfort-section" id="section-comments">
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-center">
                                        <h2 class="section-main-title">{{ 'section.comments.title'|trans|upper }}</h2>
                                        <p class="section-subtitle">
                                            {{ 'section.comments.body'|trans }}
                                        </p>
                                        <div class="hr-divider hr-divider-style-1"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- comment slider -->
                                    <div class="gfort-owl-slider owl-carousel owl-theme" data-slider-items="1" data-slider-arrows="true" data-slider-arrows-type="arrow" data-slider-dots="true" data-slider-autoplay="true">
                                        {% for impression in impressions %}

                                        <div class="gfort-owl-slider-item">
                                            <div class="testimonials-item testimonials-item-style-2">
                                                <div class="testimonials-item-container">
                                                    <div class="testimonials-item-body">
                                                        <p>{{ impression.impression }}</p>
                                                    </div>
                                                    <div class="testimonials-item-footer">
                                                        <div class="testimonials-item-avatar">
                                                            <img src="{{ asset(impression.pictureUrl) }}" alt="Client Avatar" />
                                                        </div>
                                                        <div class="testimonials-item-meta">
                                                            <div class="testimonials-item-meta-container">
                                                                <h5 class="testimonials-item-name">
                                                                    {{ impression.firstName }} {{ impression.lastName }}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </div><!-- end slider -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end section -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var sectionHomepage =  $('#section-homepage');
        $(".no-click").click(false);

        $(document).ready(function() {
            if("{{ contentLink }}".length > 1){
                $.scrollTo("#{{ contentLink }}", {
                    duration: 3000
                });
            }
        });

        sectionHomepage.bgswitcher({
            images: ["{{ asset('images/parallax/1.jpg') }}","{{ asset('images/parallax/2.jpg') }}","{{ asset('images/parallax/3.jpg') }}"],
            effect: "fade",
            interval: 9000
        });

        $(".btn-facebook-login").on('click', function () {
            $(this).addClass('disabled');
            $(".login-text").html(userWaiting);
        });


        /*order control*/
        function selectBox(box) {
            $("#box-" + box).trigger( "click" );
        }

        var boxSelected = false;
        var prices = [];

        var orderForm = $('#order-form');
        var displayOrderContact = $("#order-contact");
        var displayOrderAddress = $("#order-address");
        var displayDelivery = $("#delivery-display");
        var displayHomeDelivery = $("#home-delivery");
        var displayParcelDelivery = $("#parcel-delivery");
        var displayPaymentType = $("#payment-type");

        var inputHomeAddress = $("#home-address");
        var inputSelectParcelMachine = $("#select-parcelMachine");

        var buttonProceedPayment = $("#btn-proceed-payment");
        var buttonDeliveryAddress = $("#btn-delivery-address");
        var buttonContacts = $("#btn-contacts");
        var buttonDeliveryHome = $("#btn-delivery-home");
        var buttonPaymentType = $("#btn-payment-type");
        var buttonDeliveryParcel = $("#btn-delivery-parcel");
        var buttonBackToDeliveryAddress =  $("#btn-back-delivery-address");

        var imageLoading = $("#parcel-loading-img");

        {% for price in prices %}
        prices['{{ price.box_size }}'] = {{ price.price }};
        {% endfor %}

        {% for price in prices %}
            $("#box-{{ price.box_size }}").on('click', function() {
                animateEffect(displayOrderContact, "fadeInLeft");
            });
        {% endfor %}

        $(".order-btn").on('click', function() {
            if(!boxSelected) {
                animateEffect(displayOrderContact, "fadeInLeft");
                boxSelected = true;
            }
        });

        $("input:radio[name='secretBoxSize']").change( function () {
            if ($(this).is(':checked')){
                var boxValue = $("[name='secretBoxSize']:checked").val();
                buttonProceedPayment.html('{{ 'order.pay'|trans }} <strong>' + prices[boxValue] + ' €</strong>');
            }
        });

        buttonDeliveryAddress.on('click', function () {
            orderForm.parsley().validate();
            if(orderForm.parsley().isValid()){
                animateEffect(displayOrderAddress, "fadeInRight");
                animateEffect(displayOrderContact, "fadeOutLeft");
                if($("[name='deliveryType']:checked").val() == "home"){
                    inputHomeAddress.prop('required', true);
                }
                if($("[name='deliveryType']:checked").val() == "parcel_machine"){
                    inputSelectParcelMachine.prop('required', true);
                }
            }
        });

        buttonContacts.on('click', function () {
            inputHomeAddress.removeAttr('required');
            inputSelectParcelMachine.removeAttr('required');
            animateEffect(displayOrderAddress, "fadeOutRight");
            animateEffect(displayOrderContact, "fadeInLeft");
        });

        var deliveryTypeSelected = false;

        buttonDeliveryHome.on('click', function () {
            displayDelivery.css('height', '130px');
            animateEffect(displayHomeDelivery, "fadeInLeft");
            inputHomeAddress.prop('required', true);
            inputSelectParcelMachine.removeAttr('required');
            if(deliveryTypeSelected){
                animateEffect(displayParcelDelivery, "fadeOutRight");
            } else {
                buttonPaymentType.css('display', 'block');
                animateEffect(buttonPaymentType, 'fadeInUp');
            }
            deliveryTypeSelected = true;
        });

        buttonDeliveryParcel.on('click', function () {
            displayDelivery.css('height', '130px');
            animateEffect(displayParcelDelivery, "fadeInRight");
            buttonPaymentType.css('display', 'block');
            inputHomeAddress.removeAttr('required');
            inputSelectParcelMachine.prop('required', true);
            animateEffect(buttonPaymentType, 'fadeInUp');
            if(deliveryTypeSelected){
                animateEffect(displayHomeDelivery, "fadeOutLeft");
            } else {
                buttonPaymentType.css('display', 'block');
                animateEffect(buttonPaymentType, 'fadeInUp');
            }
            deliveryTypeSelected = true;
        });

        buttonPaymentType.on('click', function () {
            if($("[name='deliveryType']:checked").val() == "home"){
                orderForm.parsley().validate();
                if(orderForm.parsley().isValid()){
                    animateEffect(displayOrderAddress, "fadeOutLeft");
                    animateEffect(displayPaymentType, "fadeInRight");
                }
            }
            if($("[name='deliveryType']:checked").val() == "parcel_machine"){
                orderForm.parsley().validate();
                if(orderForm.parsley().isValid()){
                    animateEffect(displayOrderAddress, "fadeOutLeft");
                    animateEffect(displayPaymentType, "fadeInRight");
                    buttonProceedPayment.html('Apmokėti <strong>' + prices[value] + ' €</strong>');
                } else {
                    $(".parcel-select")
                    .css('border', '2px solid red');
                }
            }
        });

        buttonBackToDeliveryAddress.on('click', function () {
            animateEffect(displayPaymentType, "fadeOutRight");
            animateEffect(displayOrderAddress, "fadeInLeft");
        });

        $(".payment-btn").on('click', function () {
            animateEffect(buttonProceedPayment, 'fadeInUp');
        });

        function animateEffect(element, fadeEffect){
            showElement(element);
            element
                .removeClass("animated ")
                .removeClass("fadeInLeft")
                .removeClass("fadeOutLeft ")
                .removeClass("fadeInRight ")
                .removeClass("fadeOutRight ")
                .addClass("animated " + fadeEffect);
        }

        function showElement(element) {
            element
                .css('visibility', 'visible')
                .css('display', 'block');
        }

        inputSelectParcelMachine.on('change', function() {
            $("#label-parcel-select").css('display', 'none');
            $(".chosen-container-single")
                .css('border', '1px solid #4cae4c');
        });

        buttonProceedPayment.on('click', function () {
            document.forms['order-form'].submit();
            $.LoadingOverlay("show");
            setTimeout(function(){
                $.LoadingOverlay("hide");
            }, 3000);
        });
        /* gelolocations */

        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;
            var x = crd.latitude;
            var y = crd.longitude;

            sendData(x, y, "");
        };

//todo vertimai pranesimu
        function error(err) {
            var typed = new Typed('.parcel-loading-text', {
                strings: ["Jūsų koordinačių nustatyti nepavyko", "Tikrinamas namų adresas"],
                typeSpeed: 30
            });
            setTimeout(function () {
                if(typed != null){
                    typed.destroy();
                }

                var address = inputHomeAddress.val();
                if(address.length > 12){
                    var typed = new Typed('.parcel-loading-text', {
                        strings: ["Ieškoma pagal namų adresą", "Prašome palaukti"],
                        typeSpeed: 30
                    });
                    setTimeout(function () {
                        sendData("", "", address);
                    }, 4000);
                } else {
                    if(typed != null){
                        typed.destroy();
                    }
                    var typed = new Typed('.parcel-loading-text', {
                        strings: ["Neteisingai įvestas namų adresas", "Patikslinkite namų adresą ir pakartokite"],
                        typeSpeed: 30
                    });
                    imageLoading.css('display', 'none')
                    $("#btn-detect-parcel").css('display', 'inline-block')
                }
            }, 6000);
        }

        $("#btn-detect-parcel").on('click', function() {
            $(this).css('display', 'none');
            $("#parcel-loading").css('display', 'block');
            imageLoading.css('display', 'inline-block');
            var typed = new Typed('.parcel-loading-text', {
                strings: ["Ieškomas artimiausias paštomatas", "Prašome palaukti"],
                typeSpeed: 30
            });
            setTimeout(function () {
                typed.destroy();
                navigator.geolocation.getCurrentPosition(success, error, options);
            }, 4000);
        });

//        function getClientLocation(){
////            var geo = false;
//            var geo = navigator.geolocation;
//            if(geo){
//                geo.getCurrentPosition(displayLocation);
//            }
//            else {
//
//
//            }
//        }
//
//        function displayLocation(position){
//            var x = position.coords.latitude;
//            var y = position.coords.longitude;
//            sendData(x, y, "");
////
//        }

        function sendData(x, y, address){
            jQuery.ajax({
                url: "{{ path('app.order.locations') }}",
                type: "GET",
                data: {
                    "coordinateX": x,
                    "coordinateY": y,
                    "address": address
                },
                success: function(data){
                    if(data.status > 0){
                        createParcelMachinesList(data.parcelMachines);
                    } else {
                        errorFoundParcel()
                    }
                },
                error: function() {
                    errorFoundParcel()
                }

            })
        }
        function errorFoundParcel(){
            $('.parcel-loading-text').html('');
            var typed = new Typed('.parcel-loading-text', {
                strings: [
                    'Deja artimiausio paštomato nustatyti nepavyko',
                    'Patikslinkite adresą ir pabandykite dar kartą'
                ],
                typeSpeed: 30
            });
            setTimeout(function () {
                $("#parcel-loading").append(
                    '<a id="btn-try-again" onclick="tryFindParcelAgain(this)" class="btn btn-default btn-md">Pabandyti dar karą</a>'
                );
            }, 5500);

        }

        function tryFindParcelAgain(el) {
            el.remove();
            $('.parcel-loading-text').html('');
            var typed = new Typed('.parcel-loading-text', {
                strings: ["Ieškomas artimiausias paštomatas", "Prašome palaukti"],
                typeSpeed: 30
            });
            var address = inputHomeAddress.val();
            setTimeout(function () {
                sendData("", "", address);
            }, 4000);
        }

        function createParcelMachinesList(parcelMachines){

            inputSelectParcelMachine.find('option').remove().end();
            parcelMachines.forEach(function (entry) {
                inputSelectParcelMachine.append($('<option></option>').val(entry['address']).html(
                    entry['distanceText'] + ' | '  + entry['name']
                ));
            });
            inputSelectParcelMachine.trigger("chosen:updated");
            $('#parcel-loading').find('img').remove();
            $('.parcel-loading-text').html('');
            var typed4 = new Typed('.parcel-loading-text', {
                strings: ["Sėkmingai rasti artimiausi paštomatai"],
                typeSpeed: 30
            });

        }

        /* google map disabled
        var map;
        function displayMap(coords, parcelMachines) {
            var googleLatAndLong = new google.maps.LatLng(coords.latitude, coords.longitude);

            var mapOptions = {
                zoom: 15,
                center: googleLatAndLong,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var mapDiv = document.getElementById('map');
            map = new google.maps.Map(mapDiv, mapOptions);

            var title = 'Your Location';
            var content = 'You are here: ' + coords.latitude + ', ' + coords.longitude;
            addMarker(map, googleLatAndLong, title, content, null);

            var image = 'https://www.omniva.lt/theme/post24/img/logo.png';
            parcelMachines.forEach(function (entry) {
                googleLatAndLong = new google.maps.LatLng(entry['y'], entry['x']);
                addMarker(map, googleLatAndLong, 'test', 'content', image);
            });
        }

        function addMarker (map, latlong, title, content, image) {
            var markerOptions = {
                position: latlong,
                map: map,
                title: title,
                clickable: true,
                icon: image
            };

            var marker = new google.maps.Marker(markerOptions);

            var infoWindowOptions = {
                content: content,
                position: latlong
            };

            var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.open(map);
            });
        }
        end disable */

    </script>


{% endblock %}
