<header class="header-section fixed-header">
    <!-- Header Section Container -->
    <div class="header-section-container">


        <!-- Header Menu -->
        <div class="header-menu">
            <!-- Header Menu Container -->
            <div class="header-menu-container">


                <!-- Navbar -->
                <nav class="navbar">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- col-md-12 -->
                            <div class="col-md-12">


                                <!-- Navbar Header / Logo -->
                                <div class="navbar-header">
                                    <a href="#top-page" class="navbar-brand" title="SECRET BOX">
                                        <span class="secretbox-logo">SECRET BOX</span>
                                    </a>
                                    <ul class="header-btns">
                                        <li class="header-lang-btn">
                                            <a href="#" title="{{ app.request.locale == 'en' ? 'English' : 'Lietuviškai' }}">{{ app.request.locale }}</a>

                                            <nav class="header-language-menu">
                                                <ul>
                                                    <li>
                                                        <a href="{{ path('app.change.locale', { 'locale' : 'lt' }) }}" title="Lietuviškai">
                                                            <span class="lang-sm" lang="lt"></span> Lt
                                                        </a>
                                                    </li>
                                                    <div class="hr-divider hr-divider-thin hr-divider-style-3 text-center" style="margin: 10px auto;"></div>
                                                    <li>
                                                        <a href="{{ path('app.change.locale', { 'locale' : 'en' }) }}" title="English">
                                                            <span class="lang-sm" lang="en"></span> En
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </li>
                                    </ul>
                                </div><!-- /End Navbar Header / Logo -->




                                <!-- Toggle Menu Button -->
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="menu-wd">{{ 'page.menu'|trans }}</span>
                                    <span class="lines-wrapper"><i class="lines"></i></span>
                                </button><!-- /End Toggle Menu Button -->


                                <!-- Navbar Collapse (Menu) -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">


                                        <li>
                                            <a href="#section-1" data-scroll>Apie</a>
                                        </li>

                                        <li>
                                            <a href="#">{{ 'content.impresions'|trans }}</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#section-3" data-scroll>{{ 'content.adventure.moments'|trans }}</a>
                                                </li>
                                                <li>
                                                    <a href="#section-4" data-scroll>{{ 'content.customers.review'|trans }}</a>
                                                </li>
                                            </ul>
                                        </li>




                                        <li class="btn-header-menu">
                                            <a href="#section-5" data-scroll>{{ 'product.order'|trans }}</a>
                                        </li>


                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li>
                                            <a href="#" class="fa-login" style="padding: 10px 0;">
                                                {#<i class="fa fa-facebook-square"></i>#}
                                                {#Me#}
                                                <img class="img-circle" style="width: 60px; " src="{{ asset(app.user.pictureUrl) }}"/>
                                            </a>
                                            <ul class="submenu" style="padding: 10px;">
                                                <li>
                                                        <div class="text-center">
                                                            <img style="width: 80px;" src="{{ asset(app.user.pictureUrl) }}"/>
                                                        </div>
                                                        <div class="text-center">
                                                            <div><strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong></div>
                                                            <div class="small">{{ app.user.username }}</div>
                                                        </div>
                                                </li>
                                                <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide submenu-divider"></div>
                                                <li >
                                                    <a href="{{ path('app.user.profile') }}" class="btn btn-primary btn-gfort" >{{ 'user.page'|trans }}</a>
                                                </li>
                                                <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide submenu-divider"></div>

                                                <li >
                                                    <a href="{{ logout_path() }}" class="btn btn-danger btn-gfort btn-gfort">{{ 'menu.logout'|trans }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li >
                                            <a href="{{ path('app.login.facebook') }}" class="fa-login">
                                                <i class="fa fa-facebook-square"></i>
                                                Login
                                            </a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </div><!-- /End Navbar Collapse (Menu) -->


                            </div><!-- /End col-md-12 -->
                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </nav><!-- /End Navbar -->


            </div><!-- /End Header Menu Container -->
        </div><!-- /End Header Menu -->


    </div><!-- /End Header Section Container -->
</header><!-- /    Header Section -->
