<nav class="navbar navbar-fixed-top top-nav">
    <div class="container">
        <div class="navbar-left">
            <a class="navbar-brand" href="{{  path(app.request.attributes.get('_route'), { '_locale': 'lt' }) }}">
                <span class="lang-lg" lang="lt"></span>
            </a>
            <a class="navbar-brand" href="{{  path(app.request.attributes.get('_route'), { '_locale': 'en' }) }}">
                <span class="lang-lg" lang="en"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('app.homepage') }}"><span class="logo-text">{{ 'project.name'|trans | upper }}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{{ path('app.about') }}">{{ 'menu.about'|trans }}</a>
                </li>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> 
                            <strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text-center">
                                                {#<img class="icon-size" src="{{ app.user.pictureUrl }}"/>#}
                                                <img class="icon-size" src="{{ app.user.picture }}"/>
                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong></p>
                                            <p class="text-left small">{{ app.user.username }}</p>
                                            <p class="text-left">
                                                <a href="{{ path('app.user.profile') }}" class="btn btn-primary btn-block btn-sm">{{ 'user.page'|trans }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                    <a href="{{ logout_path() }}" class="btn btn-danger btn-block">{{ 'menu.logout'|trans }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                {% else %}
                    <li class="active">
                        <a id="fa-button" href="{{ path('app_facebook_connect') }}">
                            <span id="fa-text">{{ 'menu.login'|trans }} <img class="fb-image" src="{{ asset('images/fb_icon.png') }}" /> </span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>