<header class="header-section fixed-header">
    <div class="header-section-container">
        <div class="header-menu">
            <div class="header-menu-container">
                <nav class="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- navbar header / logo -->
                                <div class="navbar-header">
                                    <a href="{{ path('app.homepage') }}" class="navbar-brand" title="SECRET BOX">
                                        <span class="secretbox-logo">SECRET BOX</span>
                                    </a>
                                    <ul class="header-btns">
                                        <li class="header-lang-btn">
                                            <a href="#" title="{{ app.request.locale == 'en' ? 'English' : 'Lietuviškai' }}">{{ app.request.locale }}</a>

                                            <!-- locale menu -->
                                            <nav class="header-language-menu">
                                                <ul>
                                                    <li>
                                                        <a href="{{ path('app.change.locale', { 'locale' : 'lt' }) }}" title="Lietuviškai">
                                                            <span class="lang-sm" lang="lt"></span> Lt
                                                        </a>
                                                    </li>
                                                    <div class="hr-divider hr-divider-thin hr-divider-style-3 text-center" style="margin: 10px auto;"></div>
                                                    <li>
                                                        <a href="{{ path('app.change.locale', { 'locale' : 'en' }) }}" title="English">
                                                            <span class="lang-sm" lang="en"></span> En
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                            <!-- end locale menu-->

                                        </li>
                                    </ul>
                                </div><!-- end navbar header / logo -->

                                <!-- collapsed menu button -->
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="menu-wd">{{ 'page.menu'|trans }}</span>
                                    <span class="lines-wrapper"><i class="lines"></i></span>
                                </button><!-- end button -->

                                <!-- main menu -->
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a href="#section-about" data-scroll>{{ 'menu.about'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="#">{{ 'content.impresions'|trans }}</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="#section-adventure-moments" data-scroll>{{ 'content.adventure.moments'|trans }}</a>
                                                </li>
                                                <li>
                                                    <a href="#section-comments" data-scroll>{{ 'content.customers.review'|trans }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="btn-header-menu">
                                            <a href="#section-begin-adventure" data-scroll>{{ 'product.order'|trans }}</a>
                                        </li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                        <li>
                                            <a href="#" class="fa-login no-click" style="padding: 10px 0;">
                                                <img class="img-circle" style="width: 60px; " src="{{ asset(app.user.pictureUrl) }}"/>
                                            </a>
                                            <ul class="submenu" style="padding: 10px;">
                                                <li>
                                                        <div class="text-center">
                                                            <img style="width: 80px;" src="{{ asset(app.user.pictureUrl) }}"/>
                                                        </div>
                                                        <div class="text-center">
                                                            <div><strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong></div>
                                                            <div class="small">{{ app.user.username }}</div>
                                                        </div>
                                                </li>
                                                <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide submenu-divider"></div>
                                                <li >
                                                    <a href="{{ path('app.user.profile') }}" class="btn btn-primary btn-gfort" >{{ 'user.page'|trans }}</a>
                                                </li>
                                                <div class="hr-divider hr-divider-thin hr-divider-style-3 hr-divider-wide submenu-divider"></div>

                                                <li >
                                                    <a href="{{ logout_path() }}" class="btn btn-danger btn-gfort btn-gfort">{{ 'menu.logout'|trans }}</a>
                                                </li>
                                            </ul>
                                        </li>

                                        {% else %}

                                        <li >
                                            <a href="{{ path('app.login.facebook') }}" class="fa-login" id="btn-facebook-login">
                                                <i class="fa fa-facebook-square"></i>
                                                <span id="login-text">{{ 'menu.login'|trans }}</span>
                                            </a>
                                        </li>

                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>

    </div>
</header>
