<nav class="navbar navbar-fixed-top navbar-default top-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu-navbar" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {#todo kalbas i dropboxa#}
            <a class="navbar-brand" href="{{  path(app.request.attributes.get('_route'), { '_locale': 'lt' }) }}">
                <span class="lang-lg" lang="lt"></span>
            </a>
            <a class="navbar-brand" href="{{  path(app.request.attributes.get('_route'), { '_locale': 'en' }) }}">
                <span class="lang-lg" lang="en"></span>
            </a>
            <a class="navbar-brand logo-text" href="{{ path('app.homepage') }}">{{ 'project.name'|trans | upper }}</a>
        </div>
        <div class="collapse navbar-collapse" id="top-menu-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {#todo scrol to order#}
                    <a href="{{ path('app.order.now') }}">{{ 'product.order' | trans }}</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#subscribe-newsletter">{{ 'menu.get.news' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app.about') }}">{{ 'menu.about' | trans }}</a>
                </li>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user menu-icon"></span> 
                            <strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong>
                            <span class="glyphicon glyphicon-chevron-down menu-icon"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-lg-4 text-center">
                                        <img class="icon-size" src="{{ app.user.pictureUrl }}"/>
                                    </div>
                                    <div class="col-lg-8 text-center">
                                        <p><strong>{{ app.user.firstName }} {{ app.user.lastName }}</strong></p>
                                        <p class="small">{{ app.user.username }}</p>
                                    </div>
                                </div>
                                <hr class="row">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <a href="{{ path('app.user.profile') }}" class="btn btn-primary btn-block">{{ 'user.page'|trans }}</a>
                                    </div>
                                </div>
                                <hr class="row">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <a href="{{ logout_path() }}" class="btn btn-danger btn-block">{{ 'menu.logout'|trans }}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                {% else %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user menu-icon"></span>
                        <span id="fa-text">{{ 'menu.login'|trans }}</span>
                        <span class="glyphicon glyphicon-chevron-down menu-icon"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="col-lg-12 text-center">
                                <h4>Prisijunkite prie SECRET BOX</h4>
                            </div>
                            <div class="col-lg-12 text-center">
                                <a id="login-button"  class="btn btn-block btn-social btn-lg btn-facebook btn-md" href="{{ path('app.login.facebook') }}">
                                    <i class="fa fa-facebook"></i>
                                    {{ 'menu.login'|trans }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>

                {% endif %}



            </ul>
        </div>
    </div>
</nav>
