{% extends 'base.html.twig' %}

{% block body %}



    <div class="row body-user-profile">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {#todo perkelti stule i css#}
            <div class="col-lg-10 col-sm-12 col-lg-offset-1 content-bg">


                <div class="content-container">
                    <div id="fancyTabWidget" class="tabs t-tabs">
                        <ul class="nav nav-tabs fancyTabs" role="tablist">

                            <li class="tab fancyTab active">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-desktop"></span><span class="hidden-xs">{{ 'user.secrets'| trans }}</span></a>
                                <div class="whiteBlock"></div>
                            </li>

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab1" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-firefox"></span><span class="hidden-xs">{{ 'user.friends.secrets'| trans }}</span></a>
                                <div class="whiteBlock"></div>
                            </li>

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab2" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-envira"></span><span class="hidden-xs">{{ 'user.profile'| trans }}</span></a>
                                <div class="whiteBlock"></div>
                            </li>

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab3" href="#tabBody3" role="tab" aria-controls="tabBody3" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-mortar-board"></span><span class="hidden-xs">{{ 'user.orders' | trans }}</span></a>
                                <div class="whiteBlock"></div>
                            </li>

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab4" href="#tabBody4" role="tab" aria-controls="tabBody4" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-stack-overflow"></span><span class="hidden-xs">{{ 'user.impressions' | trans }}</span></a>
                                <div class="whiteBlock"></div>
                            </li>

                            {#<li class="tab fancyTab">#}
                                {#<div class="arrow-down"><div class="arrow-down-inner"></div></div>#}
                                {#<a id="tab5" href="#tabBody5" role="tab" aria-controls="tabBody5" aria-selected="true" data-toggle="tab" tabindex="0"><span class="fa fa-question-circle"></span><span class="hidden-xs">Order</span></a>#}
                                {#<div class="whiteBlock"></div>#}
                            {#</li>#}
                        </ul>
                        <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
                            <div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if secrets == null %}
                                            {{ 'orders.no.secrets' | trans }}
                                        {% else %}
                                            {#{% for secret in secrets %}#}
                                            {#<div class="row">#}
                                            {#<div class="col-lg-4">{{ secret.orderDate | date('Y-m-d h:m:s') }}</div>#}
                                            {#<div class="col-lg-7">#}
                                            {#<div class="countdown-clock" data-countdown="{{ secret.orderCountdown | date('Y-m-d h:m:s') }}"></div>#}
                                            {#</div>#}
                                            {#<div class="col-lg-1">{{ secret.deliveryAddress }}</div>#}
                                            {#</div>#}

                                            {#{% endfor %}#}

                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <th>{{ 'order.date' | trans }}</th>
                                                <th class="text-center">{{ 'order.countdown' | trans }}</th>
                                                <th class="text-center">{{ 'order.delivery.address' | trans }}</th>
                                                </thead>
                                                <tbody>
                                                {% for secret in secrets %}
                                                    <tr>
                                                        <td>{{ secret.orderDate | date('Y-m-d h:m:s') }}</td>
                                                        <td class="text-center">
                                                            <div class="countdown-clock"
                                                                 data-countdown="{{ secret.orderCountdown | date('Y-m-d h:m:s') }}"></div>
                                                        </td>
                                                        <td class="text-center">
                                                            <button type="button" class="btn" data-toggle="popover"
                                                                    data-placement="left" title="Adresas"
                                                                    data-content="{{ secret.deliveryAddress }}">
                                                                <i class="fa fa-home icon-address"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                        <div class="col-md-12">
                                            <a id="order-button" class="btn btn-primary" href="{{ path('app.order.begin') }}">
                                                <span id="order-button-text">{{ 'product.order'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {#todo userio draugu paslaptys#}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="well well-sm">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="{{ app.user.pictureUrl }}" alt="" class="img-rounded img-responsive" />
                                                            </div>
                                                            <div class="col-sm-6 col-md-7">
                                                                <h3 class="font-weight-bold">{{ app.user.firstName }} {{ app.user.lastName }}</h3>
                                                                {% if  app.user.address  %}
                                                                    {% set address = app.user.address %}
                                                                {% else %}
                                                                    {% set address = 'user.no.address' | trans %}
                                                                {% endif %}
                                                                <div class="user-info">
                                                                        <p title="{{ 'content.email.address' | trans }}">
                                                                            <i class="glyphicon glyphicon-envelope"></i>{{ app.user.email }}
                                                                        </p>
                                                                        <p class="newsletter">
                                                                            {% if app.user.newsletter %}
                                                                                <span>{{ 'user.newsletter' | trans }} {{ 'user.subscribed' | trans }}</span>
                                                                                <a href="{{ path('app.user.subscription') }}" class="color-red">
                                                                                    <i class="glyphicon glyphicon-remove-circle">{{ 'content.unsubscribe' | trans }}</i>
                                                                                </a>
                                                                            {% else %}
                                                                                <span>{{ 'user.newsletter' | trans }} {{ 'user.unsubscribed' | trans }}</span>
                                                                                <a href="{{ path('app.user.subscription') }}" class="color-green">
                                                                                    <i class="glyphicon glyphicon-ok-circle">{{ 'content.subscribe' | trans }}</i>
                                                                                </a>
                                                                            {% endif %}
                                                                        </p>

                                                                    <p title="{{ 'user.lastlogin.date' | trans }}">
                                                                        <i class="glyphicon glyphicon-log-in"></i>
                                                                        <i class="glyphicon glyphicon-user"></i>
                                                                        {{ app.user.loggedDate | date('Y-m-d') }}
                                                                    </p>
                                                                    <p title="{{ 'user.registration.date' | trans }}">
                                                                        <i class="glyphicon glyphicon-registration-mark"></i>
                                                                        <i class="glyphicon glyphicon-user"></i>
                                                                        {{ app.user.registeredDate | date('Y-m-d') }}
                                                                    </p>
                                                                    <span title="{{ 'content.address' | trans }}">{{ address }}
                                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                                    </span>
                                                                    <a href="#" data-toggle="modal" data-target="#edit-address">
                                                                        <i class="glyphicon glyphicon-edit">{{ 'content.change' | trans }}</i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="tabBody3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if orders == null %}
                                            {{ 'order.no.completed.orders' | trans }}
                                        {% else %}
                                            <table class="table small">
                                                <thead>
                                                <th>{{ 'order.date' | trans }}</th>
                                                <th>{{ 'order.revealed' | trans }}</th>
                                                <th><i class="fa fa-glass"></i></th>
                                                <th></th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        <td>{{ order.orderDate | date('Y-m-d') }}</td>
                                                        <td></td>
                                                        <td>{{ order.title }}</td>
                                                        <td>{{ order.description }}</td>
                                                        <td>{{ order.supplier }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="tabBody4" role="tabpanel" aria-labelledby="tab4" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button style="margin-bottom: 50px;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-impression"> {{ 'user.share.impression' | trans }} </button>
                                    </div>
                                    <div class="col-md-12">
                                        {% for impression in impressions %}
                                            <div class="col-lg-6 impression">
                                                <div class="impression-box">
                                                    <img class="img-circle2" src="{{ app.user.pictureUrl }}"/>
                                                    <div class="impression-title">{{ impression.created | date('Y-m-d h:m:s') }}</div>
                                                    {{ impression.impression }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {#<div class="tab-pane  fade" id="tabBody5" role="tabpanel" aria-labelledby="tab5" aria-hidden="true" tabindex="0">#}
                                {#<div class="row">#}
                                    {#<div class="col-md-12">#}
                                        {#<h2>This is the content of tab six.</h2>#}
                                        {#<p>This field is a rich HTML field with a content editor like others used in Sitefinity. It accepts images, video, tables, text, etc. Street art polaroid microdosing la croix taxidermy. Jean shorts kinfolk distillery lumbersexual pinterest XOXO semiotics. Tilde meggings asymmetrical literally pork belly, heirloom food truck YOLO. Meh echo park lyft typewriter. </p>#}

                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>

                    </div>
                </div>




            </div>


            {#modals:#}
            <div class="modal fade" id="new-impression" tabindex="-1" role="dialog" aria-labelledby="new-impressionLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {{ form_start(formImpression) }}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">
                                {{ form_label(formImpression.impression, 'user.share.impression' | trans) }}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(formImpression.impression, {'attr': {'id': 'impression-input'}}) }}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            {{ form_widget(formImpression.save) }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'content.close' | trans }}</button>
                        </div>
                        {{ form_end(formImpression) }}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="edit-address" tabindex="-1" role="dialog" aria-labelledby="edit-addressLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {{ form_start(formAddress) }}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">
                                {{ form_label(formAddress.address, 'content.address' | trans) }}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(formAddress.address, {'attr': {'id': 'address-input'}}) }}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            {{ form_widget(formAddress.save) }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'content.close' | trans }}</button>
                        </div>
                        {{ form_end(formAddress) }}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


        {% else %}
            <h1>{{ 'user.access.denied' | trans }}</h1>

        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">


        $('#new-impression').on('shown.bs.modal', function () {
            $('#appbundle_impression_impression').focus()
        });
        $('#edit-address').on('shown.bs.modal', function () {
            $('#appbundle_user_address').focus()
        });

        var clocks = [];


        FlipClock.Lang.Mixed = {

            'years': '{{ 'content.years' | trans }}',
            'months': '{{ 'content.months' | trans }}',
            'days': '{{ 'content.days' | trans }}',
            'hours': '{{ 'content.hours' | trans }}',
            'minutes': '{{ 'content.minutes' | trans }}',
            'seconds': '{{ 'content.seconds' | trans }}'

        };


        FlipClock.Lang['mix'] = FlipClock.Lang.Mixed;

        $(document).ready(function () {

//            fancy tabs
            $("li.fancyTab").width('20%');

            //end fancy tabs




            $('[data-toggle="popover"]').popover();

            var currentDate = new Date();
            $('[data-countdown]').each(function () {
                var finalDate = Date.parse($(this).data('countdown'));
                console.log('this is final:' + finalDate);

                var diff = finalDate / 1000 - currentDate.getTime() / 1000;
                console.log(diff);

                if (diff > 0) {
                    clocks.push($($(this)).FlipClock(diff, {
                        clockFace: 'DailyCounter',
                        countdown: true,
                        language: 'mix'
                    }));
                } else {
                    $(this).html('laikas pasibaiges');
                }

            });


        });

        //more fancy tabs:
        $(window).load(function() {

            $('.fancyTabs').each(function() {

                var highestBox = 0;
                $('.fancyTab a', this).each(function() {

                    if ($(this).height() > highestBox)
                        highestBox = $(this).height();
                });

                $('.fancyTab a', this).height(highestBox);

            });
        });
        //end fancy tabs


    </script>




{% endblock %}