{% extends 'base.html.twig' %}

{% block body %}

    <div class="row body-user-profile">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-lg-10 col-sm-12 col-lg-offset-1 content-bg">
                <div class="content-container">
                    <div id="fancyTabWidget" class="tabs t-tabs">
                        <ul class="nav nav-tabs fancyTabs" role="tablist">

                            <li class="tab fancyTab active">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab0" href="#tabBody0" role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0">
                                    <span class="fa fa-user-secret"></span>
                                    <span class="hidden-xs">
                                        {{ isUserProfile ? 'user.secrets'|trans : 'friend.secrets'|trans }}
                                    </span>
                                </a>
                                <div class="whiteBlock"></div>
                            </li>

                            {% if friends is defined %}
                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab1" href="#tabBody1" role="tab" aria-controls="tabBody1" aria-selected="true" data-toggle="tab" tabindex="0">
                                    <span class="fa fa-users"></span>
                                    <span class="hidden-xs">
                                        {{ 'user.friends'|trans }}
                                    </span>
                                </a>
                                <div class="whiteBlock"></div>
                            </li>
                            {% endif %}

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab2" href="#tabBody2" role="tab" aria-controls="tabBody2" aria-selected="true" data-toggle="tab" tabindex="0">
                                    <span class="fa fa-user-circle"></span>
                                    <span class="hidden-xs">
                                        {{ isUserProfile ? 'user.profile'|trans : 'friend.profile'|trans }}
                                    </span>
                                </a>
                                <div class="whiteBlock"></div>
                            </li>

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab3" href="#tabBody3" role="tab" aria-controls="tabBody3" aria-selected="true" data-toggle="tab" tabindex="0">
                                    <span class="fa fa-trophy"></span>
                                    <span class="hidden-xs">
                                        {{ isUserProfile ? 'user.orders'|trans : 'friend.orders' | trans }}
                                    </span>
                                </a>
                                <div class="whiteBlock"></div>
                            </li>

                            <li class="tab fancyTab">
                                <div class="arrow-down"><div class="arrow-down-inner"></div></div>
                                <a id="tab4" href="#tabBody4" role="tab" aria-controls="tabBody4" aria-selected="true" data-toggle="tab" tabindex="0">
                                    <span class="fa fa-commenting-o"></span>
                                    <span class="hidden-xs">
                                        {{ isUserProfile ? 'user.impressions'|trans : 'friend.impressions'|trans }}
                                    </span>
                                </a>
                                <div class="whiteBlock"></div>
                            </li>

                        </ul>
                        <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
                            <div class="tab-pane  fade active in" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="false" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if secrets == null %}
                                            <h3>{{ isUserProfile ? 'user.no.secrets'|trans : 'friend.no.secrets'|trans }}</h3>
                                        {% else %}

                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <th>{{ 'order.date' | trans }}</th>
                                                <th class="text-center">{{ 'order.countdown' | trans }}</th>
                                                <th class="text-center">{{ 'order.delivery.address' | trans }}</th>
                                                </thead>
                                                <tbody>
                                                {% for secret in secrets %}
                                                    <tr>
                                                        <td>{{ secret.orderedAt | date('Y-m-d h:m:s') }}</td>
                                                        <td class="text-center">
                                                            <div class="countdown-clock"
                                                                 data-countdown="{{ secret.orderCountdown | date('Y-m-d h:m:s') }}"></div>
                                                        </td>
                                                        <td class="text-center">
                                                            <button type="button" class="btn" data-toggle="popover"
                                                                    data-placement="left" title="Adresas"
                                                                    data-content="{{ secret.deliveryAddress }}">
                                                                <i class="fa fa-home icon-address"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                        <div class="col-md-12">
                                            <a id="order-button" class="btn btn-primary btn-lg btn-default" href="{{ path('app.order.new', {'friendId' : user.facebookId}) }}">
                                                <span id="order-button-text">
                                                    {{ isUserProfile ? 'product.order'|trans : 'friend.product.order'|trans  }}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if friends is defined %}

                            <div class="tab-pane  fade" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#" class="btn btn-primary btn-default btn-lg" onclick="sendRequestViaMultiFriendSelector(); return false;">{{ 'user.invite.friend' | trans }}</a>
                                    </div>
                                </div>
                                <div class="row">

                                    {% for friend in friends %}
                                        <div class="row">
                                            <div class="col-lg-4 col-lg-offset-4">
                                                <a href="{{ path('app.user.friend', {'facebookId' : friend.id}) }}">
                                                    <img class="img-circle" src="{{ friend.picture.url }}"/>
                                                    <span class="friend-line">
                                                        {{ friend.name }}
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                            {% endif %}

                            <div class="tab-pane  fade" id="tabBody2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="well well-sm">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="{{ asset(user.pictureUrl) }}" alt="" class="img-rounded img-responsive" />
                                                            </div>
                                                            <div class="col-sm-6 col-md-7">
                                                                <h3 class="font-weight-bold">{{ user.firstName }} {{ user.lastName }}</h3>
                                                                {% if  user.address  %}
                                                                    {% set address = user.address %}
                                                                {% else %}
                                                                    {% set address = 'user.no.address' | trans %}
                                                                {% endif %}
                                                                <div class="user-info">
                                                                        <p title="{{ 'content.email.address' | trans }}">
                                                                            <i class="glyphicon glyphicon-envelope"></i>{{ user.email }}
                                                                        </p>
                                                                        <p class="newsletter">
                                                                            {% if user.newsletter %}
                                                                                <span>{{ 'user.newsletter' | trans }} {{ 'user.subscribed' | trans }}</span>
                                                                                {% if isUserProfile %}
                                                                                    <a href="{{ path('app.user.subscription') }}" class="color-red">
                                                                                        <i class="glyphicon glyphicon-remove-circle">{{ 'content.unsubscribe' | trans }}</i>
                                                                                    </a>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <span>{{ 'user.newsletter' | trans }} {{ 'user.unsubscribed' | trans }}</span>
                                                                                {% if isUserProfile %}
                                                                                    <a href="{{ path('app.user.subscription') }}" class="color-green">
                                                                                        <i class="glyphicon glyphicon-ok-circle">{{ 'content.subscribe' | trans }}</i>
                                                                                    </a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </p>

                                                                    <p title="{{ 'user.lastlogin.date' | trans }}">
                                                                        <i class="glyphicon glyphicon-log-in"></i>
                                                                        <i class="glyphicon glyphicon-user"></i>
                                                                        {{ user.loggedDate | date('Y-m-d') }}
                                                                    </p>
                                                                    <p title="{{ 'user.registration.date' | trans }}">
                                                                        <i class="glyphicon glyphicon-registration-mark"></i>
                                                                        <i class="glyphicon glyphicon-user"></i>
                                                                        {{ user.registeredDate | date('Y-m-d') }}
                                                                    </p>
                                                                    <span title="{{ 'content.address' | trans }}">{{ address }}
                                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                                    </span>
                                                                    {% if isUserProfile %}
                                                                        <a href="#" data-toggle="modal" data-target="#edit-address">
                                                                            <i class="glyphicon glyphicon-edit">{{ 'content.change' | trans }}</i>
                                                                        </a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="tabBody3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if orders|length == 0 %}
                                            <h3>{{ isUserProfile ? 'order.no.completed.orders'|trans : 'friend.no.completed.orders'|trans }}</h3>
                                        {% else %}
                                            <table class="table small">
                                                <thead>
                                                <th>{{ 'order.date' | trans }}</th>
                                                <th>{{ 'order.revealed' | trans }}</th>
                                                <th><i class="fa fa-glass"></i></th>
                                                <th></th>
                                                <th></th>
                                                </thead>
                                                <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        {#todo pakeisti i order.product.[value] po to, kai pakeisiu repositorijoje#}
                                                        <td>{{ order.orderedAt | date('Y-m-d') }}</td>
                                                        <td></td>
                                                        <td>{{ order.title }}</td>
                                                        <td>{{ order.description }}</td>
                                                        <td>{{ order.supplier }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane  fade" id="tabBody4" role="tabpanel" aria-labelledby="tab4" aria-hidden="true" tabindex="0">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if isUserProfile %}
                                            <button style="margin-bottom: 50px;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-impression"> {{ 'user.share.impression' | trans }} </button>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12">
                                        {% if impressions|length == 0 %}
                                            <h3>{{ isUserProfile ? 'user.no.impressions'|trans : 'friend.no.impressions'|trans }}</h3>
                                        {% else %}
                                            {% for impression in impressions %}
                                                <div class="col-lg-6 impression">
                                                    <div class="impression-box">
                                                        <img class="img-circle2" src="{{ asset(user.pictureUrl) }}"/>
                                                        <div class="impression-title">{{ impression.createdAt | date('Y-m-d h:m:s') }}</div>
                                                        {{ impression.impression }}
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div>

            {% if formImpression is defined %}
            {#modals:#}
            <div class="modal fade" id="new-impression" tabindex="-1" role="dialog" aria-labelledby="new-impressionLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {{ form_start(formImpression) }}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">
                                {{ form_label(formImpression.impression, 'user.share.impression' | trans) }}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(formImpression.impression, {'attr': {'id': 'impression-input'}}) }}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            {{ form_widget(formImpression.save) }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'content.close' | trans }}</button>
                        </div>
                        {{ form_end(formImpression) }}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {% endif %}

        {% if formAddress is defined %}
            <div class="modal fade" id="edit-address" tabindex="-1" role="dialog" aria-labelledby="edit-addressLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {{ form_start(formAddress) }}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">
                                {{ form_label(formAddress.address, 'content.address' | trans) }}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(formAddress.address, {'attr': {'id': 'address-input'}}) }}
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            {{ form_widget(formAddress.save) }}
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'content.close' | trans }}</button>
                        </div>
                        {{ form_end(formAddress) }}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}

        {% else %}
            <h1>{{ 'user.access.denied' | trans }}</h1>

        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#facebook API#}
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({
//            todo pakeisti APP is parameters
            appId  : '711322222391741',
            frictionlessRequests: true
        });




        function sendRequestToRecipients() {
            var user_ids = document.getElementsByName("user_ids")[0].value;
            FB.ui({method: 'apprequests',
                message: 'Awesome Application try it once',
                to: user_ids
            }, requestCallback);
        }

        function sendRequestViaMultiFriendSelector() {
            FB.ui({method: 'apprequests',
                message: 'Awesome application try it once'
            }, requestCallback);
        }

        function requestCallback(response) {
            // Handle callback here
        }



        FB.api(
            "/me/apprequests"
        );

    </script>

    <script type="text/javascript">


        $('#new-impression').on('shown.bs.modal', function () {
            $('#appbundle_impression_impression').focus()
        });
        $('#edit-address').on('shown.bs.modal', function () {
            $('#appbundle_user_address').focus()
        });

        var clocks = [];


        FlipClock.Lang.Mixed = {

            'years': '{{ 'content.years' | trans }}',
            'months': '{{ 'content.months' | trans }}',
            'days': '{{ 'content.days' | trans }}',
            'hours': '{{ 'content.hours' | trans }}',
            'minutes': '{{ 'content.minutes' | trans }}',
            'seconds': '{{ 'content.seconds' | trans }}'

        };


        FlipClock.Lang['mix'] = FlipClock.Lang.Mixed;

        $(document).ready(function () {

//            fancy tabs
            $("li.fancyTab").width('20%');

            //end fancy tabs




            $('[data-toggle="popover"]').popover();

            var currentDate = new Date();
            $('[data-countdown]').each(function () {
                var finalDate = Date.parse($(this).data('countdown'));
                console.log('this is final:' + finalDate);

                var diff = finalDate / 1000 - currentDate.getTime() / 1000;
                console.log(diff);

                if (diff > 0) {
                    clocks.push($($(this)).FlipClock(diff, {
                        clockFace: 'DailyCounter',
                        countdown: true,
                        language: 'mix'
                    }));
                } else {
                    $(this).html('laikas pasibaiges');
                }

            });


        });

        //more fancy tabs:
        $(window).load(function() {

            $('.fancyTabs').each(function() {

                var highestBox = 0;
                $('.fancyTab a', this).each(function() {

                    if ($(this).height() > highestBox)
                        highestBox = $(this).height();
                });

                $('.fancyTab a', this).height(highestBox);

            });
        });
        //end fancy tabs


    </script>




{% endblock %}